.section .section--about {
  background-color: var(--dark-color);
}

.section--about .container {
  display: flex;
  background-color: var(--bright-color);
  color: var(--dark-color);
  padding: 0;
}

/*--------------------------
--- AVATAR MAIN CONTAINER ---
----------------------------*/

.first-main-container {
  position: relative;
  width: 50%;
  background-color: hsla(0, 0%, 0%, 0.05);
  background-color: #eaeaea;
}

/*--------------------------
------ INFO CONTAINER ------
----------------------------*/

.second-main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  max-width: 36em;
  padding-left: 4em;
  overflow: hidden;
}

/* --- TAG WORK PERMIT --- */

.visa-tag {
  position: absolute;
  top: 3em;
  left: -5.2em;
  font-family: var(--main-font-light);
  font-size: 0.8rem;
  width: 20em;
  line-height: 1.2em;
  padding: 0.5em;
  color: var(--bright-color);
  background-color: var(--third-color);
  transform: rotate(-45deg);
  text-align: center;
}

.work-permit {
  font-family: var(--main-font-semibold);
}

/* --- SHOP BAG --- */

.bag-container {
  position: relative;
  align-self: flex-end;
  cursor: pointer;
  margin-right: 0.5rem;
}

.bag-container:hover,
.bag-container:focus,
.bag-container:active {
  animation-name: icon-shake;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes icon-shake {
  50% {
    transform: translateX(3px) rotate(5deg);
  }
  100% {
    transform: translateX(-3px) rotate(-5deg);
  }
}
@keyframes hvr-buzz {
  50% {
    transform: translateX(3px) rotate(5deg);
  }
  100% {
    transform: translateX(-3px) rotate(-5deg);
  }
}

.number-one {
  display: none;
  position: absolute;
  top: 1.2em;
  left: -0.5em;
  padding: 0 0.4rem;
  z-index: 2;
  font-size: 0.7rem;
  font-family: var(--main-font-semibold);
  color: var(--bright-color);
  background-color: var(--third-color);
  border-radius: 50%;
  text-align: center;
}

/* --- MODAL --- */

.modal {
  display: block;
  position: absolute;
  right: 50px;
  top: 77px;
  color: var(--bright-color);
  background-color: var(--dark-color);
  padding: 2em 1em 2em 2em;
  height: 19em;
  width: 23.5em;
}

.modal:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-left: 12px solid var(--dark-color);
  border-right: 12px solid transparent;
  border-bottom: 12px solid transparent;
  top: 20px;
  right: -24px;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  font-family: var(--main-font-semibold);
}

.modal__close {
  width: 1.5em;
  margin-right: 0.5em;
  cursor: pointer;
}


/* ---- MODAL FULL ---- */

.modal__full {
  display: none;
}

.modal__full-wrapper {
  display: flex;
  margin-bottom: 2.5em;
}

.modal__image {
  width: 70px;
  height: 70px;
  margin: 1em;
}

.modal__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal__name {
  font-family: var(--main-font-regular);
}

.modal__email,
.modal__location,
.modal__location-title {
  font-size: 0.8rem;
}

.modal__location-title {
margin-top: 0.5em;
}

.modal__location {
  font-family: var(--main-font-semibold);
}

.modal__email {
  padding-bottom: 0.5em;
  border-bottom: 0.5px dashed var(--bright-color);
}

/* ---- MODAL EMPTY ---- */

.modal__empty {
  display: none;
  flex-direction: column;
  background-image: url(../assets/images/about-empty.svg);
  background-repeat: no-repeat;
  background-size: 6em;
  background-position: 2em 1.5em;
}

.modal__empty-wrapper {
  margin-top: 2em;
  margin-left: 9em;
  margin-bottom: 2.5em;
  position: relative;
}

.modal__empty-wrapper::after {
  content: '';
  position: absolute;
  bottom: -1em;
  left: -9em;
  width: 19.2em;
  border-bottom: 0.5px dashed var(--bright-color);
}

.modal__empty-text {
  font-family: var(--main-font-light);
  font-size: 1.2rem;
}

.modal__empty-title {
  color: var(--third-color);
  font-family: var(--main-font-semibold);
  font-size: 1.85rem;
}


/* ---- LOCATION ---- */

.location-wrapper {
  display: flex;
  margin-top: 0.5em;
}

.purchase-location-title,
.modal__button-title {
  font-size: 0.8rem;
}

.modal__button-title {
  margin-bottom: 0.5em;
}

.purchase-location {
  font-family: var(--main-font-semibold);
  margin-left: 0.5rem;
}

.icon-delete {
  padding: 0 1.3em 0 2.5em;
  cursor: pointer;
}

.icon-delete:hover,
.icon-delete:focus,
.icon-delete:active {
  animation-name: icon-shake;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* ---- ERROR MESSAGE ---- */

.error-location {
  display: none;
}

.error-location--active{
  display: block;
  position: absolute;
  bottom: -2.8em; 
  font-family: var(--main-font-regular);
  font-size: 0.8rem;
  color: var(--bright-color);
  background-color: var(--third-color);
  padding: 0.5em 2.05em;
  text-align: center;
  animation-name: appear;
  animation-duration: 0.35s;
  z-index: 0;
}

@keyframes appear {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* ----- TEXT AREA ----- */

.about-description {
  width: 60%;
}

.name,
.languages {
  margin-bottom: 0.5em;
}

.name {
  font-size: 1.2rem;
  font-family: var(--main-font-thin);
}

.job,
.languages {
  font-size: 1.5rem;
  font-family: var(--main-font-medium);
}

.and {
  font-size: 0.8rem;
}

.description-one {
  margin-bottom: 1em;
}

/* --- CONTAINERS --- */

.bottom-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

}

.location-button-container {
  display: flex;
  flex-direction: column;
  position: relative;
}


/* --- FORM --- */

.location {
  display: flex;
  align-items: center;
  margin-bottom: 3em;
}

.location-title,
.tools-title {
  font-size: 0.7rem;
  font-family: var(--main-font-light);
}

.location-title {
  margin: 3em 0 0.5em 0;
}


.input-radio {
  height: 0.8rem;
  cursor: pointer;
}

.location label {
  font-family: var(--main-font-semibold);
  font-size: 0.8rem;
  margin: 0 1.5em 0 0.5em;
}

/* --- SOFT SKILLS --- */

.tools {
  display: flex;
  flex-direction: column;
  font-family: var(--main-font-medium);
  font-size: 0.6rem;
  text-transform: uppercase;
  text-align: right;
  margin-right: 0.5rem;
}

.tools-title {
  margin-bottom: 0.5em;
  text-transform: capitalize;
  display: inline;
}
