.section .section-about {
  background-color: var(--dark-color);
}

.section-about .container {
  display: flex;
  background-color: var(--bright-color);
  color: var(--dark-color);
  padding: 0;
}

/*--------------------------
--- AVATAR MAIN CONTAINER ---
----------------------------*/

.first-main-container {
  position: relative;
  width: 50%;
  background-color: hsla(0, 0%, 0%, 0.05);
}

/* --- BG GREY --- */

/*--------------------------
------ INFO CONTAINER ------
----------------------------*/

.second-main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  max-width: 36em;
  padding-left: 4em;
  overflow: hidden;
}

/* --- TAG WORK PERMIT --- */

.visa-tag {
  position: absolute;
  top: 3em;
  left: -5.2em;
  font-family: var(--main-font-light);
  width: 20em;
  line-height: 1em;
  padding: 0.5em;
  color: var(--bright-color);
  background-color: var(--third-color);
  transform: rotate(-45deg);
  text-align: center;
}

.work-permit {
  font-family: var(--main-font-semibold);
}

/* --- SHOP BAG --- */

.bag-container {
  position: relative;
  align-self: flex-end;
}

.number-one {
  display: none;
  position: absolute;
  top: 1.2em;
  left: -0.5em;
  padding: 0 0.4rem;
  z-index: 2;
  font-size: 0.7rem;
  font-family: var(--main-font-semibold);
  color: var(--bright-color);
  background-color: var(--third-color);
  border-radius: 50%;
  text-align: center;
}

.bag-message {
  display: block;
  position: absolute;
  right: 10px;
  top: 2.5em;
  background-color: var(--bright-color);
  border: 1px solid rgb(182, 182, 182);
  border-radius: 5px;
  padding: 1em;
}

.bag-message p {
  font-size: 0.6rem;
  font-family: var(--main-font-ligth);
  text-transform: uppercase;
}

.bag-message:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid white;
  border-bottom: 15px solid transparent;
  bottom: -15;
  right: 0;
}

.bag-message:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-left: 16px solid transparent;
  border-right: 16px solid rgb(182, 182, 182);
  border-bottom: 15px solid transparent;
  bottom: -16px;
  right: -1px;
}

/* --- TEXT AREA --- */

.about-description {
  width: 60%;
}

.name,
.languages {
  margin-bottom: 0.5em;
}

.name {
  font-size: 1.2rem;
  font-family: var(--main-font-thin);
}

.job,
.languages {
  font-size: 1.5rem;
  font-family: var(--main-font-medium);
}

.and {
  font-size: 0.8rem;
}
.description-one {
  margin-bottom: 1em;
}

/* --- CONTAINERS --- */

.bottom-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.location-button-container {
  display: flex;
  flex-direction: column;
}

/* --- FORM --- */

.location-title,
.tools-title {
  font-size: 0.7rem;
  font-family: var(--main-font-light);
}

.location-title {
  margin: 3em 0 0.5em 0;
}

.location {
  display: flex;
  align-items: center;
}

.input-radio {
  height: 0.8rem;
}

.location label {
  font-family: var(--main-font-semibold);
  font-size: 0.8rem;
  margin: 0 1.5em 0 0.5em;
}

/* --- SOFT SKILLS --- */

.tools {
  display: flex;
  flex-direction: column;
  font-family: var(--main-font-medium);
  font-size: 0.6rem;
  text-transform: uppercase;
  text-align: right;
}

.tools-title {
  margin-bottom: 0.5em;
  text-transform: capitalize;
  display: inline;
}
