.section .section-about {
  background-color: var(--dark-color);
}

.section-about .container {
  display: flex;
  background-color: var(--bright-color);
  color: var(--dark-color);
  padding: 0;
}

/*--------------------------
--- AVATAR MAIN CONTAINER ---
----------------------------*/

.first-main-container {
  position: relative;
  width: 50%;
}

/* --- BG GREY --- */

.square {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 95%;
  background-color: hsla(0, 0%, 0%, 0.05);
}

/* --- TAG WORK PERMIT --- */

.visa-tag {
  position: absolute;
  top: 3.7em;
  left: 61%;
  font-family: var(--main-font-light);
  width: 20em;
  line-height: 1em;
  padding: 0.5em;
  color: var(--bright-color);
  background-color: var(--third-color);
  transform: rotate(45deg);
  text-align: center;
  overflow: ;
}

.work-permit {
  font-family: var(--main-font-semibold);
}

/*--------------------------
------ INFO CONTAINER ------
----------------------------*/

.second-main-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  max-width: 35em;
  margin-left: 2em;
}

.about-description {
  width: 60%;
}

.bag-empty {
  align-self: flex-end;
  height: 25px;
  width: 25px;
}

.name,
.languages {
  margin-bottom: 0.5em;
}

.name {
  font-size: 1.2rem;
  font-family: var(--main-font-thin);
}

.job,
.languages {
  font-size: 1.5rem;
  font-family: var(--main-font-medium);
}

.and {
  font-size: 0.8rem;
}
.description-one {
  margin-bottom: 1em;
}

/* --- CONTAINERS --- */

.bottom-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.location-button-container {
  display: flex;
  flex-direction: column;
}

/* --- FORM --- */

.location-title,
.tools-title {
  font-size: 0.7rem;
  font-family: var(--main-font-light);
}

.location-title {
  margin: 3em 0 0.5em 0;
}

.location {
  display: flex;
  align-items: center;
}

.input-radio {
  height: 0.8rem;
}

.location label {
  font-family: var(--main-font-semibold);
  font-size: 0.8rem;
  margin: 0 1.5em 0 0.5em;
}

/* --- BUTTON --- */

.btn-add {
  margin-top: 3em;
  margin-left: 0;
  width: 15em;
  color: var(--bright-color);
  background-color: var(--dark-color);
}

/* --- SOFT SKILLS --- */

.tools {
  display: flex;
  flex-direction: column;
  font-family: var(--main-font-medium);
  font-size: 0.6rem;
  text-transform: uppercase;
  text-align: right;
}

.tools-title {
  margin-bottom: 0.5em;
  text-transform: capitalize;
  display: inline;
}
