.ai {
  position: relative;
  padding-bottom: 10em;

  .container {
    padding-top: 1em;
    width: 90%;
    margin-bottom: 2em;
  }

  &__question {
    margin: 0.8em 0 5em 0;
    text-align: center;
  }

  &__examples {
    color: var(--third-color);
    border: 1px dashed var(--third-color);
    padding: 1em;
    margin-bottom: 7em;
    text-align: center;
  }
  
  &__examples-title {
      font-family: var(--main-font-semibold);
      margin-bottom: 1em;
    }
  
  &__examples-item {
    font-family: var(--main-font-light);
    font-size: 1rem;
    line-height: 1.8;
    color: var(--bright-color);
    list-style-type: decimal; 
    list-style-position: inside;
    text-align: left;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &__hands {
    padding-right: 2.5em;
  }

  &__hand-left {
    width: 7.5em;
    animation: hand-left-float 4s ease-in-out infinite;
  }

  @keyframes hand-left-float {
    0% {
      transform: translateX(50px) scale(0.8);
    }

    50% {
      transform: translateX(-10px) scale(1.1);
    }

    100% {
      transform: translateX(50px) scale(0.8);
    }
  }

  &__hand-right {
    width: 8.5em;
    animation: hand-right-float 4s ease-in-out infinite;
  }

  @keyframes hand-right-float {
    0% {
      transform: translateX(50px) scale(1.1);
    }

    50% {
      transform: translateX(-10px) scale(0.8);
    }

    100% {
      transform: translateX(50px) scale(1.1);
    }
  }

  &__textarea {
    text-align: center;
    width: 20em;
    height: 20em;
    border-radius: 50%;
    padding: 5em 5em;
    margin-bottom: 1em;
    overflow:hidden;
    box-shadow:
    0 -2.5em 4em 2em rgba(255, 255, 255, 0.4),
    inset 0 -2.5em 1.5em 1em rgba(0,0,0,0.1);
    border: 2px solid rgba(0,0,0,0.2);
    z-index: 2;
  }
  
  &__button {
    margin: 1em;
  }
}
  

/* ====================================
                RESULT
======================================= */

.result {
  display: none;
  flex-direction: column-reverse;
  width: 80%;
  margin: 0 auto;
  color: var(--dark-color);
  font-family: var(--main-font-light);
  line-height: 1.5;
  margin-top: 1em;
  opacity: 0;
  animation-name: result-ai-appear;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  
  &__item {
    text-align: left;
    padding: 1em 1em;
    background-color: var(--bright-color);
    margin-bottom: 1em;
    border-radius: 10px;
  }

    &__wrapper {
    display: flex;
  }

  &__title {
    padding: 0.5em 0;
    width: 25%;
    font-family: var(--main-font-medium);
    font-size: 0.8rem;
  }

  &__text {
    padding: 0.5em 0 0.5em 1em;
    width: 75%;
  }
}

@keyframes result-ai-appear {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

  /* ====================================
              MEDIA QUERY
  ======================================= */

@media only screen and (min-width: 48em) {
  .ai {
    .container {
      width: 80%;
    }

    &__hand-left,
    &__hand-right {
      width: 15em;
    }

    &__hand-left {
      animation: hand-left-float 4s ease-in-out infinite;
    }
  
    @keyframes hand-left-float {
      0% {
        transform: translateX(30px) scale(0.8);
      }
  
      50% {
        transform: translateX(-50px) scale(1.1);
      }
  
      100% {
        transform: translateX(30px) scale(0.8);
      }
    }

    &__hand-right {
      animation: hand-right-float 4s ease-in-out infinite;
    }
  
    @keyframes hand-right-float {
      0% {
        transform: translateX(50px) scale(1.1);
      }
  
      50% {
        transform: translateX(-50px) scale(0.8);
      }
  
      100% {
        transform: translateX(50px) scale(1.1);
      }
    }

    &__textarea {
      width: 35em;
      height: 35em;
      padding: 15em 5em;
    }
  }
  
  .title {
    font-size: 3rem;
  }

  .result {
    &__item {
      padding-left: 2em;
      padding-right: 2em;
    }
  
    &__title {
      font-size: 1rem;
      width: 20%;
    }
  
    &__text {
      padding-left: 0;
      width: 80%;
    }
  }
}


@media only screen and (min-width: 51em) {
  .ai {
    &__hand-left,
    &__hand-right {
      width: 18em;
    }
  }
}


@media only screen and (min-width: 56em) {
  .ai {
    &__hand-left,
    &__hand-right {
      width: 20em;
    }
  }
}

@media only screen and (min-width: 62em) {
  .ai {
    &__hand-left,
    &__hand-right {
      width: 22em;
    }
  }
}