.ai {
  position: relative;
  padding-bottom: 10em;
  text-align: center;

  .container {
    width: 60%;
    margin-bottom: 2em;
  }

  &__question {
    margin: 0.8em 0 5em 0;
  }

  &__examples {
    color: var(--third-color);
    border: 1px dashed var(--third-color);
    padding: 1em;
    margin-bottom: 2em;
  }
  
  &__examples-title {
      font-family: var(--main-font-semibold);
      margin-bottom: 1em;
    }
  
  &__examples-item {
    font-family: var(--main-font-light);
    font-size: 1rem;
    line-height: 1.5;
    color: var(--bright-color);
    list-style-type: decimal; 
    list-style-position: inside;
    text-align: left;
  }

  textarea {
    width: 100%;
    height: 7em;
  }

  &__button {
    margin: 1em;
  }
}
  
/* ====================================
                RESULT
======================================= */

.result {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  color: var(--dark-color);
  font-family: var(--main-font-light);
  line-height: 1.5;
  
  &__item {
    text-align: left;
    padding: 1em 1em;
    background-color: var(--bright-color);
    margin-bottom: 1em;
    animation-name: appear;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }

    &__wrapper {
    display: flex;
  }

  &__title {
    padding: 0.5em 0;
    width: 25%;
    font-family: var(--main-font-medium);
    font-size: 0.8rem;
  }

  &__text {
    padding: 0.5em 0 0.5em 1em;
    width: 75%;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

  /* ====================================
              MEDIA QUERY
  ======================================= */

@media only screen and (min-width: 48em) {
  .title {
    font-size: 3rem;
  }

  .result {
    &__item {
      padding-left: 2em;
      padding-right: 2em;
    }
  
    &__title {
      font-size: 1rem;
      width: 20%;
    }
  
    &__text {
      padding-left: 0;
      width: 80%;
    }
  }
}
  