.section-api {
  background-color: var(--bright-color);
  height: 75vh;
  /* clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%); */
  position: relative;
}

.section-api::before,
.section-api::after {
  content: "";
  width: 100%;
  height: 18em;
  position: absolute;
  background-color: var(--dark-color);
  transform: skewY(-10deg);
}

.section-api::before {
  top: -9em;
}

.section-api::after {
  bottom: -9em;
}

.title-api {
  padding-top: 15em;
  font-family: var(--main-font-semibold);
  font-size: 1.5rem;
  color: var(--dark-color);
}

.weather-img {
  width: 30em;
  position: absolute;
  right: 0;
  top: -15em;
  z-index: 5;
}
