.section-api-external {
  position: relative;
}

.section-api {
  background-color: var(--bright-color);
  color: var(--dark-color);
  padding: 14rem 0;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
}

.icon-weather {
  width: 30em;
  position: absolute;
  top: -14em;
  left: calc(100vw - 47%);
  z-index: 10;
}

/* ---- GRID ---- */

.api--grid {
  display: grid;
  grid-template-rows: repeat(9, auto);
  grid-template-rows: auto auto 4em repeat(6, auto);
  grid-template-columns: repeat(8, 1fr);
  width: 70%;
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 3em;
}

/* ---- INPUT SECTION ---- */

.question-wrapper {
  display: flex;
  flex-direction: column;
  grid-column: 1/4;
  grid-row: 2/4;
  width: 18em;
}

.api--question {
  line-height: 2.8rem;
  font-family: var(--main-font-semibold);
  font-size: 2.8rem;
  margin-bottom: 0.3rem;
}

.section-api input {
  height: 3em;
  width: 100%;
  margin-top: 0.7em;
  margin-right: 1em;
}

/* ---- ERROR MESSAGE ---- */

#error-message {
  display: none;
  grid-column: 1/4;
  grid-row: 3/4;
  margin-top: 2em;
  font-family: var(--main-font-regular);
  font-size: 0.9rem;
  width: 20em;
  color: var(--bright-color);
  background-color: var(--dark-color);
  padding: 0.5em;
  text-align: center;
  animation-name: appear;
  animation-duration: 1s;
  z-index: -10;
}

@keyframes appear {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* ---- CITY SECTION ---- */

.api--title-city {
  grid-column: 1/2;
  grid-row: 5/6;
  align-self: end;
}

.api--city,
.api--country {
  font-family: var(--main-font-semibold);

  text-transform: uppercase;
  line-height: 4.5rem;
}

.api--city {
  grid-column: 1/5;
  grid-row: 6/7;
  font-size: 4rem;
}

.api--country {
  grid-column: 1/4;
  grid-row: 7/8;
  font-size: 3rem;
}

.api--log,
.api--lat {
  font-family: var(--main-font-regular);
  font-size: 0.8rem;
  display: inline-block;
  margin-top: 2em;
}

.api--log {
  grid-column: 1/2;
  grid-row: 8/9;
}

.api--lat {
  grid-column: 2/3;
  grid-row: 8/9;
}

/* ---- TEMPERATURE SECTION ---- */

.api--description {
  grid-column: 4/9;
  font-family: var(--main-font-semibold);
  font-size: 2.25rem;
  text-transform: capitalize;
  text-align: right;
  margin-bottom: 1.5em;
}

.temp-wrapper {
  grid-column: 7/9;
  grid-row: 2/3;
}

/* ---- DATA SECTION ---- */

.data,
.feels-celsius {
  font-family: var(--main-font-semibold);
  font-size: 1.5rem;
}

.temp {
  font-family: var(--main-font-semibold);
  font-size: 5rem;
  margin-bottom: -0.5em;
}

.temp-wrapper,
.feels-wrapper,
.wind-wrapper,
.pressure-wrapper,
.humidity-wrapper,
.visibility-wrapper,
.sunrise-wrapper,
.sunset-wrapper {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding: 0.5em;
  margin-left: 1em;
}

.feels-wrapper {
  grid-column: 5/7;
  grid-row: 2/3;
}

.feels-celsius {
  grid-column: 7/8;
  grid-row: 2/3;
  margin-top: 3em;
  font-size: 0.8rem;
}

.wind-wrapper {
  grid-column: 6/7;
  grid-row: 4/5;
}

.pressure-wrapper {
  grid-column: 6/7;
  grid-row: 5/6;
}

.humidity-wrapper {
  grid-column: 7/8;
  grid-row: 4/5;
}

.visibility-wrapper {
  grid-column: 7/8;
  grid-row: 5/6;
}

.sunrise-wrapper {
  grid-column: 8/9;
  grid-row: 4/5;
  margin-bottom: 1em;
}

.sunset-wrapper {
  grid-column: 8/9;
  grid-row: 5/6;
}

.api--unit {
  font-family: var(--main-font-light);
  font-size: 0.8rem;
}

/* ---- UPDATED SECTION ---- */

.updated-wrapper {
  grid-column: 7/9;
  grid-row: 7/8;
  text-align: right;
  /* margin-top: 6em; */
}

.api--title-city,
.api--title-temp,
.api--title-others {
  font-family: var(--main-font-regular);
}

.api--date {
  font-family: var(--main-font-light);
  font-size: 0.8rem;
}
