.section-api-external {
  position: relative;
}

.section-api {
  background-color: var(--bright-color);
  color: var(--dark-color);
  padding: 14rem 0;
  width: 100%;

  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
}

.title-api {
  font-family: var(--main-font-semibold);
  font-size: 1.5rem;
}

.weather-img {
  width: 30em;
  position: absolute;
  right: 0;
  top: -15em;
  z-index: 15;
}
