@import '../utils/utils';

/* ---- WEATHER ICON ---- */

.api-external {
  position: relative;

  &__image {
    width: 30em;
    position: absolute;
    top: -14em;
    left: calc(100vw - 100%);
    z-index: 10;
    animation: weather-appear 6s ease-in-out infinite;
  }

  @keyframes weather-appear {
    0% {
      transform: translatey(0px);
    }

    50% {
      transform: translatey(-20px);
    }

    100% {
      transform: translatey(0px);
    }
  }
}

/* ====================================
              API START
======================================= */

.api {
  background-color: var(--bright-color);
  color: var(--dark-color);
  padding: 8em 0 10em 0;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);

  /* ---- GRID ---- */
    
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, auto);
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3em;
  }

  /* ---- INPUT ---- */

  &__question {
    grid-column: 1/5;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    line-height: 3rem;
    font-family: var(--main-font-semibold);
    font-size: 2.8rem;
  }
  
  &__input {
    height: 3em;
    width: 18em;
    margin-top: 0.7em;
  }

  /* ---- LOCATION ---- */

  &__location-title {
    grid-column: 1/5;
    grid-row: 3/4;
    margin-top: 5em;
  }

  &__city,
  &__country {
    font-family: var(--main-font-semibold);
    text-transform: uppercase;
    line-height: 3.5rem;
  }

  &__city {
    grid-column: 1/5;
    grid-row: 4/5;
    font-size: 3rem;
  }
  
  &__country {
    grid-column: 1/4;
    grid-row: 5/6;
    font-size: 2rem;
  }
  
  &__log,
&__lat {
  font-family: var(--main-font-regular);
  font-size: 0.8rem;
  display: inline-block;
  margin-top: 5em;
}

&__log {
  grid-column: 1/2;
  grid-row: 6/7;
}

&__lat {
  grid-column: 2/3;
  grid-row: 6/7;
}

/* ---- CURRENT WEATHER PHRASE ---- */

&__description {
  grid-column: 1/5;
  grid-row: 1/2;
  font-family: var(--main-font-semibold);
  font-size: 1.8rem;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 3.5em;
}

/* ---- DATA WRAPPERS ---- */

&__temp-wrapper,
&__feels-wrapper,
&__wind-wrapper,
&__pressure-wrapper,
&__humidity-wrapper,
&__visibility-wrapper,
&__sunrise-wrapper,
&__sunset-wrapper {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding: 0.5em;
  margin-left: 1em;
}

&__temp-wrapper {
  grid-column: 1/5;
  grid-row: 8/9;
}

&__wind-wrapper {
  grid-column: 2/3;
  grid-row: 9/10;
  margin-top: 3em;
}

&__pressure-wrapper {
  grid-column: 2/3;
  grid-row: 10/11;
  margin-top: 1em;
}

&__humidity-wrapper {
  grid-column: 3/5;
  grid-row: 9/10;
  margin-top: 3em;
}

&__visibility-wrapper {
  grid-column: 3/5;
  grid-row: 10/11;
  margin-top: 1em;
}

&__sunrise-wrapper,
&__sunset-wrapper {
    display: none;
}

/* ---- TITLES ---- */

&__location-title,
&__temp-title,
&__feels-title,
&__others-title {
  font-family: var(--main-font-regular);
}

/* ---- DATA ---- */

.data,
&__feels,
.data-feels {
  font-family: var(--main-font-semibold);
  font-size: 1.5rem;
}

&__feels-title,
.data-feels,
&__feels-c {
  display: none;
}

&__temp {
  font-family: var(--main-font-semibold);
  font-size: 5rem;
  margin-bottom: -0.5em;
}

&__unit {
  font-family: var(--main-font-light);
  font-size: 0.8rem;
}

/* ---- UPDATED ---- */

&__updated-wrapper {
  grid-column: 3/5;
  grid-row: 11/12;
  text-align: right;
  margin-top: 2em;
}

&__date {
  font-family: var(--main-font-light);
  font-size: 0.8rem;
}

}


/* ---- ERROR MESSAGE ---- */

#api__error {
  display: none;
  grid-column: 1/5;
  grid-row: 3/4;
  margin-bottom: 4.8em;
  font-family: var(--main-font-regular);
  font-size: 0.9rem;
  width: 20em;
  color: var(--bright-color);
  background-color: var(--third-color);
  padding: 0.5em;
  text-align: center;
  animation-duration: 0.35s;
  z-index: -10;
  animation-name: appear;
}

@keyframes appear {
  0% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* ====================================
            MEDIA QUERY
======================================= */

@media only screen and (min-width: 20em) {}

@media only screen and (min-width: 48em) {
  .api-external__image {
    left: calc(100vw - 80%);
  }

  .api {
    padding: 12em 0 14em 0;

    &__grid {
      width: 60%;
    }
  }

  &__updated-wrapper {
    max-width: 20ch;
    justify-self: flex-end;
  }
}

@media only screen and (min-width: 62em) {
  .api-external__image {
    width: 30em;
    top: -14em;
    left: calc(100vw - 47%);
  }

  .api {
    padding: 14em 0 11em 0;

    &__grid {
      grid-template-rows: repeat(9, auto);
      grid-template-rows: auto auto 4em repeat(6, auto);
      grid-template-columns: repeat(8, 1fr);
      width: 65%;
    }

    /* ---- INPUT ---- */

  &__question,
  &__input {
    width: 18em;
  }

  &__log,
  &__lat {
    margin-top: 0;
  }


  /* ---- location SECTION ---- */

  &__location-title {
    grid-column: 1/2;
    grid-row: 5/6;
  }

  &__city,
  &__country {
    line-height: 4.5rem;
  }

  &__city {
    grid-column: 1/5;
    grid-row: 6/7;
    font-size: 4rem;
  }

  &__country {
    grid-column: 1/4;
    grid-row: 7/8;
    font-size: 3rem;
  }

  &__log,
  &__lat {
    margin-top: 2em;
  }

  &__log {
    grid-column: 1/2;
    grid-row: 8/9;
  }

  &__lat {
    grid-column: 2/3;
    grid-row: 8/9;
  }

  /* ---- TEMPERATURE SECTION ---- */

  &__description {
    grid-column: 1/9;
    grid-row: 1/2;
    text-align: right;
    margin-bottom: 1.5em;
    font-size: 2.25rem;
  }

  &__temp-wrapper {
    grid-column: 7/9;
    grid-row: 2/3;
  }

  /* ---- DATA SECTION ---- */

  .data-feels {
    display: block;
  }

  &__temp {
    margin-bottom: -0.5em;
  }

  &__temp-wrapper,
  &__feels-wrapper,
  &__wind-wrapper,
  &__pressure-wrapper,
  &__humidity-wrapper,
  &__visibility-wrapper,
  &__sunrise-wrapper,
  &__sunset-wrapper {
    padding: 0.5em;
    margin-left: 1em;
  }

  &__feels-wrapper {
    display: block;
    grid-column: 6/7;
    grid-row: 2/3;
    text-align: right;
  }

  &__feels-c {
    display: block;
    grid-column: 7/8;
    grid-row: 2/3;
    font-family: var(--main-font-semibold);
    font-size: 0.8rem;
    margin-top: 3em;
  }

  &__feels-title {
    display: block
  }

  &__wind-wrapper {
    grid-column: 7/8;
    grid-row: 4/5;
    margin-top: 0;
  }

  &__pressure-wrapper {
    grid-column: 7/8;
    grid-row: 5/6;
    margin-top: 0;
  }

  &__humidity-wrapper {
    grid-column: 8/9;
    grid-row: 4/5;
    margin-top: 0;
  }

  &__visibility-wrapper {
    grid-column: 8/9;
    grid-row: 5/6;
    margin-top: 0;
  }

  /* 
  &__sunrise-wrapper {
    grid-column: 8/9;
    grid-row: 4/5;
    margin-bottom: 1em;
  }

  &__sunset-wrapper {
    grid-column: 8/9;
    grid-row: 5/6;
  } */

  /* ---- UPDATED SECTION ---- */

  &__updated-wrapper {
    grid-column: 7/9;
    grid-row: 7/8;
    margin-top: 0;
  }

  }

  /* ---- ERROR MESSAGE ---- */

  #api__error {
    grid-column: 1/4;
    grid-row: 3/4;
    margin-bottom: 2em;
  }
}

@media only screen and (min-width: 75em) {}