  .code {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--dark-color);
  background: linear-gradient(
    180deg,
    var(--dark-color) 0%,
    rgba(41, 41, 41, 1) 100%);

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
    width: 100%;
    height: 50em;
    margin-top: 10em;
    margin-bottom: 10em;
  }

  &__subtitle {
    margin: 0.8em 0 1em 0;
    text-align: center;
  }

  /* ------- BACKGROUND ------- */

  &__background {
    display: flex;
    flex-direction: column;
    background-image: url("../assets/images/xray.jpg");
    background-repeat: no-repeat;
    background-position: center;
    animation: code-appearance 0.3s both;
    height: 135em;
  }

  @keyframes code-appearance {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* ------- SEE MY CODE ICON ------- */

  &__button {
    display: none;
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: var(--main-font-regular);
    font-size: 0.7rem;
    line-height: 1rem;
    cursor: pointer;
  }

  }

  /* ------------------------------- */
  /*          QUOTE & WORDS          */
  /* ------------------------------- */

  // .quote,
  .words {
    font-family: var(--main-font-heavy);
    text-transform: uppercase;
    text-align: center;
    width: 18em;
    height: 30em;
    animation: code-appearance 2s both;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  /* ------------------------------- */
  /*             QUOTE               */
  /* ------------------------------- */

  .quote {
    display: flex;
    flex-direction: column;

    &__text {
      font-family: var(--main-font-semibold);
      font-size: 3rem;
      line-height: 3.3rem;
      width: 15ch;
      margin-bottom: 0.5em;
      text-align: left;
    }

    &__author-name {
      font-family: var(--main-font-regular);
      font-size: 2rem;
      line-height: 2.3rem;
      margin-bottom: 0.1em;
      text-align: right;
    }

    &__author {
      font-family: var(--main-font-light);
      font-size: 1rem;
      margin-bottom: 20em;
      text-align: right;
    }
  }

  // .quote {
  //   display: flex;

  //   &__bright {
  //     transform: skew(-60deg, 30deg) scaleY(0.66667);
  //     color: var(--bright-color);
  //   }

  //   &__dark {
  //     transform: skew(0deg, 30deg) scaleY(1.33333);
  //     color: var(--third-color);
  //   }
  
  //   &--stroke {
  //     font-size: 1rem;
  //     line-height: 1.4em;
  //     color: var(--dark-color);
  //     -webkit-text-stroke: 1px var(--bright-color);
  //   }

  //   &--clean {
  //     font-size: 4rem;
  //     line-height: 4.5rem;
  //   }

  //   &--always {
  //     font-size: 3rem;
  //     line-height: 3.3rem;
  //     padding-right: 5.8em;
  //   }
    
  //   &--looks {
  //     font-size: 2rem;
  //     line-height: 2.6rem;
  //     padding-right: 9.3em;
  //   }
    
  //   &--it-was {
  //     font-size: 2.5rem;
  //     line-height: 3rem;
  //     padding-right: 3.4em;
  //   }
    
  //   &--someone {
  //     font-size: 2.5rem;
  //     line-height: 3rem;
  //   }
    
  //   &--who {
  //     font-size: 4rem;
  //     line-height: 4.4rem;
  //     padding-right: 0.5em;

  //   }
    
  //   &--cares {
  //     font-size: 2.2rem;
  //     line-height: 2.8rem;
  //     padding-right: 3.4em;
  //   }
  // }


  /* ------------------------------- */
  /*             WORDS               */
  /* ------------------------------- */

  .words {
    &__bright {
      transform: skew(60deg, -30deg) scaleY(0.66667);
      color: var(--bright-color);
    }
  
    &__dark {
      transform: skew(0deg, -30deg) scaleY(1.33333);
      color: var(--third-color);
    }

    /* ------- WORDS INDIVIDUALS ------- */

    &--dry {
      font-size: 5rem;
      line-height: 4.3rem;
    }
    
    &--meticulousness {
      font-size: 1rem;
      line-height: 1.6rem;
    }
    
    &--easy-read {
      font-size: 3rem;
      line-height: 3.5rem;
      text-align: left;
      padding-left: 2em;
    }

    &--easy-change {
      font-size: 2.5rem;
      line-height: 2.8rem;
      text-align: left;
      padding-left: 2.4em;
    }

    &--naming {
      font-size: 2rem;
      line-height: 2.5rem;
      text-align: left;
      padding-left: 3.5em;
    }

    &--conventions {
      font-size: 1.1rem;
      line-height: 1.5rem;
      text-align: left;
      padding-left: 7.9em;
    }

    &--repeat {
      font-size: 2rem;
      line-height: 2.5rem;
      text-align: left;
      padding-left: 5em;
    }

    &--self {
      font-size: 2.6rem;
      line-height: 3rem;
      text-align: left;
      padding-left: 3.9em;
    }

    &--keep {
      font-size: 2.8rem;
      line-height: 3.5rem;
      padding-right: 0.5em;
    }

    &--simple {
      font-size: 2.8rem;
      line-height: 3.5rem;
      padding-left: 1.4em;
    }

    &--concise {
      font-size: 1.6rem;
      line-height: 1.8rem;
    }

    &--consistency {
      font-size: 2.3rem;
      line-height: 3rem;
      text-align: left;
      padding-left: 4.5em;
    }

    &--uncomplicate {
      font-size: 3rem;
      line-height: 3.8rem;   
      text-align: right;
      padding-left: 4em;
    }

    &--bem {
      font-size: 5rem;
      line-height: 5.5rem;
      text-align: left;
      padding-left: 3em;
    }
  }

/* ====================================
            MEDIA QUERY
======================================= */

@media only screen and (min-width: 20em) {
}

@media only screen and (min-width: 48em) {
  .code {
    .container {
      height: 70em;
    }
  }
    
  .quote,
  .words {
    font-size: 2em;
    line-height: 2.5rem;
  }

  .quote {
    &--stroke {
      font-size: 1.8rem;
      line-height: 1.4em;
    }
  }
}

@media only screen and (min-width: 62em) {
}

@media only screen and (min-width: 75em) {
  .code {
    .container {
      height: 93em;
    }

    &__button {
      display: block;
    }
  }
}