.code {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--dark-color);
  background: linear-gradient(
    180deg,
    var(--dark-color) 0%,
    rgba(41, 41, 41, 1) 100%
  );

  & .container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 10em;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50em;
    margin-top: 10em;
    margin-bottom: 10em;
  }

  /* ------- BACKGROUND ------- */

  &__background {
    display: flex;
    flex-direction: column;
    background-image: url("../assets/images/xray.jpg");
    background-repeat: no-repeat;
    animation: code-appearance 0.3s both;
    height: 135em;
  }

  @keyframes code-appearance {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* ------- SEE MY CODE ICON ------- */

  &__icon-wrapper {
    position: absolute;
    top: 33%;
    left: 50%;
    width: 8em;
    text-align: center;
    font-family: var(--main-font-regular);
    font-size: 0.7rem;
    line-height: 1rem;
    color: var(--third-color);
    cursor: pointer;
  }

  &__icon {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;

    &--open {
      background-image: url(../assets//images/code-check-return.svg);
    }

    &--close {
      background-image: url(../assets//images/code-check.svg);
    }
  }

  /* ------- WORDS ------- */

  &__quote,
  &__words {
    font-family: var(--main-font-heavy);
    font-size: 1.2em;
    text-transform: uppercase;
    line-height: 1.5rem;
    text-align: right;
    width: 18em;
    height: 8em;
    animation: code-appearance 2s both;
  }

  &__quote {
    display: flex;
  }

  /* ------- QUOTE TRANSFORM ------- */

  &__odd--inverse {
    transform: skew(-60deg, 30deg) scaleY(0.66667);
    color: var(--bright-color);
  }

  &__even--inverse {
    transform: skew(0deg, 30deg) scaleY(1.33333);
    color: var(--third-color);
  }

  /* ------- WORDS TRANSFORM ------- */

  &__odd {
    transform: skew(60deg, -30deg) scaleY(0.66667);
    color: var(--bright-color);
  }

  &__even {
    transform: skew(0deg, -30deg) scaleY(1.33333);
    color: var(--third-color);
  }

  /* ------- BUBBLES ------- */

  &__bubble {
    display: none;
  }

  & span {
    position: absolute;
    bottom: -34em;
    border-radius: 50%;
    background: transparent;
    pointer-events: none;
    box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.4);
    animation: bubbles 25s ease-out infinite;
  }

  & span::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(255, 255, 255, 0.2), transparent);
    transform: scale(0.25) translate(-70%, -70%);
  }

  @keyframes bubbles {
    0% {
      transform: translateY(0%);
      opacity: 1;
    }
    99% {
      opacity: 1;
    }
    100% {
      transform: translateY(-3000%);
      opacity: 0;
    }
  }
}

/* ------- MODIFIERS ------- */

.code--stroke {
  font-size: 1rem;
  line-height: 1.4em;
  color: var(--dark-color);
  -webkit-text-stroke: 0.5px var(--bright-color);
}

.code--bright {
  color: var(--bright-color);
  padding: 0.3em;
}

/* ====================================
            MEDIA QUERY
======================================= */

@media only screen and (min-width: 20em) {
}

@media only screen and (min-width: 48em) {
  .code {
    & .container {
      height: 70em;
    }
  
    &__icon-wrapper {
      top: 39%;
    }
  
    &__quote,
    &__words {
      font-size: 2em;
      line-height: 2.5rem;
    }
  
    .code--stroke {
      font-size: 1.8rem;
      line-height: 1.4em;
    }
  }
}

@media only screen and (min-width: 62em) {
}

@media only screen and (min-width: 75em) {
  .code {
    & .container {
      height: 93em;
    }
  
    &__quote,
    &__words {
      font-size: 3em;
      line-height: 3.5rem;
    }
  
    // &__icon {
    //   width: 32px;
    // }
  }
}
