  .code {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--dark-color);
  background: linear-gradient(
    180deg,
    var(--dark-color) 0%,
    rgba(41, 41, 41, 1) 100%);

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 70em;
    margin-top: 8em;
    margin-bottom: 5em;
  }

  &__subtitle {
    margin-top: 0.8em;
    text-align: center;
  }

  /* ------- BACKGROUND ------- */

  &__background {
    display: flex;
    flex-direction: column;
    background-image: url("../assets/images/xray.jpg");
    background-repeat: no-repeat;
    background-position: center;
    animation: code-appearance 0.3s both;
    height: 135em;
  }

  @keyframes code-appearance {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* ------- SEE MY CODE ICON ------- */

  &__button {
    display: none;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: var(--main-font-regular);
    font-size: 0.7rem;
    line-height: 1rem;
    cursor: pointer;
  }
}

  /* ------------------------------- */
  /*             QUOTE               */
  /* ------------------------------- */

  .quote {
    display: flex;
    flex-direction: column;

    &__text {
      font-family: var(--main-font-regular);
      font-size: 1.6rem;
      line-height: 2rem;
      width: 20ch;
      margin-bottom: 0.8em;
      text-align: center;
    }

    &__author-name {
      font-family: var(--main-font-light);
      font-size: 1.3rem;
      margin-bottom: 0.1em;
      text-align: center;
    }

    &__author {
      font-family: var(--main-font-thin);
      font-size: 1rem;
      margin-bottom: 12em;
      text-align: center;
    }
  }

  /* ------------------------------- */
  /*             WORDS               */
  /* ------------------------------- */

  .words {
    font-family: var(--main-font-heavy);
    text-transform: uppercase;
    text-align: center;
    height: 30em;
    animation: code-appearance 2s both;
    margin-right: 10em;

    &__bright {
      transform: skew(60deg, -30deg) scaleY(0.66667);
      color: var(--bright-color);
    }
  
    &__dark {
      transform: skew(0deg, -30deg) scaleY(1.33333);
      color: var(--third-color);
    }

    /* ------- WORDS INDIVIDUALS ------- */

    &--dry {
      font-size: 3.75rem;
      line-height: 3.22rem;
    }
    
    &--meticulousness {
      font-size: 0.75rem;
      line-height: 1.2rem;
    }
    
    &--easy-read {
      font-size: 2.25rem;
      line-height: 2.62rem;
      text-align: left;
      padding-left: 5em;
    }

    &--easy-change {
      font-size: 1.875rem;
      line-height: 2.1rem;
      text-align: left;
      padding-left: 6.1em;
    }

    &--naming {
      font-size: 1.5rem;
      line-height: 1.875rem;
      text-align: left;
      padding-left: 8.3em;
    }

    &--conventions {
      font-size: 0.82rem;
      line-height: 1.125rem;
      text-align: left;
      padding-left: 16.5em;
    }

    &--repeat {
      font-size: 1.5em;
      line-height: 1.87rem;
      text-align: left;
      padding-left: 9.3em;
    }

    &--self {
      font-size: 1.95rem;
      line-height: 2.25rem;
      text-align: left;
      padding-left: 7.2em;
    }

    &--keep {
      font-size: 2.1rem;
      line-height: 2.62rem;
      padding-left: 0.7em;
    }

    &--simple {
      font-size: 2.1rem;
      line-height: 2.62rem;
      padding-left: 2.6em;
    }

    &--concise {
      font-size: 1.72rem;
      line-height: 2.25rem;
      padding-left: 5em;
    }

    &--consistency {
      font-size: 2.25rem;
      line-height: 2.85rem;
      text-align: left;
      padding-left: 6em;
    }

    &--uncomplicate {
      font-size: 2.25rem;
      line-height: 2.85rem;   
      text-align: right;
      padding-left: 1em;
    }

    &--bem {
      font-size: 3.75rem;
      line-height: 4.125rem;
      text-align: left;
      padding-left: 3.8em;
    }
  }

/* ====================================
            MEDIA QUERY
======================================= */

@media only screen and (min-width: 48em) {
  .code {
    .container {
      height: 110em;
    }

    &__button {
      display: block;
    }
  }

  .quote {
    &__text {
      font-size: 2rem;
      line-height: 2.3rem;
    }
    &__author-name {
      font-size: 1.5rem;
      line-height: 2rem;
    }
    &__author {
      margin-bottom: 20em;
    }
  }

  .words {
    width: 28em;
    height: 30em;
    font-size: 2em;
    line-height: 2.5rem;
    margin-right: 0;


  &--dry {
    font-size: 7.5rem;
    line-height: 6rem;
  }
  
  &--meticulousness {
    font-size: 1.5rem;
    line-height: 2.4rem;
  }
  
  &--easy-read {
    font-size: 4.5rem;
    line-height: 5.25rem;
    text-align: left;
    padding-left: 2em;
  }

  &--easy-change {
    font-size: 3.75rem;
    line-height: 4rem;
    text-align: left;
    padding-left: 2.4em;
  }

  &--naming {
    font-size: 3rem;
    line-height: 3.75rem;
    text-align: left;
    padding-left: 3.5em;
  }

  &--conventions {
    font-size: 1.65rem;
    line-height: 2.25rem;
    text-align: left;
    padding-left: 7.9em;
  }

  &--repeat {
    font-size: 3rem;
    line-height: 3.75rem;
    text-align: left;
    padding-left: 4.6em;
  }

  &--self {
    font-size: 3.9rem;
    line-height: 4.2rem;
    text-align: left;
    padding-left: 3.6em;
  }

  &--keep {
    font-size: 4.2rem;
    line-height: 5rem;
    padding-right: 1.1em;
  }

  &--simple {
    font-size: 4.2rem;
    line-height: 5rem;
    padding-left: 0.7em;
  }

  &--concise {
    font-size: 2.4rem;
    line-height: 2.4rem;
    padding-right: 1.6em;
  }

  &--consistency {
    font-size: 3.5rem;
    line-height: 4.5rem;
    text-align: left;
    padding-left: 4.2em;
  }

  &--uncomplicate {
    font-size: 3rem;
    line-height: 3.6rem;   
    text-align: right;
    padding-right: 4.4em;
  }

  &--bem {
    font-size: 7.5rem;
    line-height: 8.9rem;
    text-align: left;
    padding-left: 2.85em;
  }
}
}

@media only screen and (min-width: 62em) {
  .words--uncomplicate {
    font-size: 4.5rem;
    line-height: 4.8rem;   
    padding-left: 3.7em;
  }
}

@media only screen and (min-width: 75em) {

}