.section--code {
  position: relative;
  /* display: flex;
  height: auto;
  align-items: center;
  justify-content: center; */
  background: var(--dark-color);
  /* cursor: url(../assets/images/code-pointer.png), auto; */
}

/* ------- X-RAY EFFECT ------- */





.text-content {
  background: pink;
  color: white;
  height: 100vh;
}

.mask-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mask {
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
  overflow: hidden;
}

.mask-content {
  position: absolute;
  top: 0; 
  left: 0; 
  background-image: url('../assets/images/mask-circle.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
  color:#ffffff;
}







/* ------- QUOTE ------- */

.code__quote-wrapper {
  display: flex;
  flex-direction: column;
  width: 55em;
  text-align: center;
  margin: 10em 0;
}

.code--quote,
.code--robert {
  font-family: var(--main-font-semibold);
  text-transform: none;
}

.code--quote {
  font-size: 4rem;
  line-height: 4.5rem;
}

.code--robert {
  font-size: 2rem;
  margin-top: 1em;
  line-height: 3rem;
}

.code--author {
  font-family: var(--main-font-ligth);
}

/* ------- WORDS ------- */

.code--words {
  text-align: center;
  font-size: 3em;
  font-family: var(--main-font-semibold);
  text-transform: uppercase;
}

.code--words:last-child {
  margin-bottom: 5em;
}
