.section-code {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
  background: var(--dark-color);
  padding: 0 10px;
  cursor: url(../assets/images/code-pointer.png), auto;
}
