.section-contact {
  position: relative;
}

.section-contact .container {
  width: 60%;
}

.sub-title {
  margin-bottom: 3em;
}

/* ----- phraseS ----- */

.phrase {
  display: inline-block;
  width: auto;
  font-size: 1rem;
  font-family: var(--main-font-light);
  text-transform: uppercase;
  padding: 0.9em 1.2em;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-right: 1em;
  margin-bottom: 1em;
  color: var(--bright-color);
  background-color: var(--dark-color);
  border: 0.5px solid var(--bright-color);
}

.phrase--active {
  color: var(--third-color);
  background-color: var(--dark-color);
  border: 1px solid var(--third-color);
}

.phrase--active:hover {
  transform: translate(5px, -5px);
  box-shadow: var(--dark-color) -5px 5px 0px -1px, var(--bright-color) -5px 5px;
}

.phrase:hover {
  transform: translate(5px, -5px);
  box-shadow: var(--dark-color) -5px 5px 0px -0.5px,
    var(--bright-color) -5px 5px;
}

/* ----- TRAY ----- */

.tray-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sub-title-tray {
  margin-top: 3em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-family: var(--main-font-medium);
  /* color: var(--third-color); */
}

.sub-title-tray-first {
  margin-top: 8em;
}

.tray {
  border: 1px dashed var(--third-color);
  border: 1px dashed var(--bright-color);
  width: 100%;
  height: 10em;
}

/* ----- INPUT ----- */

.form-contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 15em;
}

.form-contact-input {
  font-family: var(--main-font-light);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--dark-color);
  margin-bottom: 4.5em;
  width: 100%;
  height: 10em;
}

.contact-buttons {
  display: flex;
  justify-content: space-between;
}

/* ----- BUTTON ----- */

.btn {
  display: inline-block;
  font-family: var(--main-font-medium);
  padding: 0.9em 2em;
  color: var(--bright-color);
  border: 1px solid var(--dark-color);
  background-color: var(--dark-color);
  box-shadow: inset 0 0 0 0 var(--bright-color);
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn:hover {
  transform: translate(5px, -5px);
  box-shadow: var(--third-color) 0px 0px 0px 0px inset,
    var(--dark-color) -5px 5px 0px -1px, var(--third-color) -5px 5px;
}

.btn-bright {
  display: inline-block;
  font-family: var(--main-font-medium);
  font-size: 1rem;
  padding: 0.9em 2em;
  color: var(--bright-color);
  border: 1px solid var(--bright-color);
  background-color: var(--dark-color);
  box-shadow: inset 0 0 0 0 var(--bright-color);
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-bright:hover {
  transform: translate(5px, -5px);
  box-shadow: var(--bright-color) 0px 0px 0px 0px inset,
    var(--dark-color) -5px 5px 0px -0.5px, var(--bright-color) -5px 5px;
}
