.section-contact {
  height: 650px;
  margin-top: 15em;
  margin-bottom: 13em;
}

.section-contact .container {
  width: 60%;
}

.contact-title {
  margin-top: 5em;
  font-family: var(--main-font-regular);
  font-size: 1.5rem;
}

.chunk-container {
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  width: 80%;
}

.chunk {
  text-transform: uppercase;
  border: 1px solid var(--bright-color);
  padding: 0.4em 1em;
}

.chunk:first-child {
  margin-left: 0;
}

.form-contact {
  display: flex;
  flex-direction: column;
}

.form-contact-input {
  margin-top: 4.5em;
  width: 100%;
  height: 10em;
}

.btn-contact {
  margin-top: 2em;
  align-self: flex-end;
}

.highlight {
  font-family: var(--main-font-regular);
  color: var(--third-color);
  border: 1px solid var(--third-color);
}
