@font-face {
  font-family: "axiformalight";
  src: url("../assets/fonts/kastelov_-_axiforma_light-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/kastelov_-_axiforma_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "axiformamedium";
  src: url("../assets/fonts/kastelov_-_axiforma_medium-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/kastelov_-_axiforma_medium-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "axiformaregular";
  src: url("../assets/fonts/kastelov_-_axiforma_regular-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/kastelov_-_axiforma_regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "axiformasemibold";
  src: url("../assets/fonts/kastelov_-_axiforma_semibold-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/kastelov_-_axiforma_semibold-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "axiformathin";
  src: url("../assets/fonts/kastelov_-_axiforma_thin-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/kastelov_-_axiforma_thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "axiformaheavy";
  src: url("../assets/fonts/kastelov_-_axiforma_heavy-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/kastelov_-_axiforma_heavy-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
