/* ====================================
                 MIXIN
======================================= */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #282828;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer h2 span {
  color: var(--third-color);
}

.footer__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: (auto)[12];
      grid-template-rows: repeat(12, auto);
  width: 70%;
  max-width: 80em;
  padding-bottom: 4em;
}

.footer__grid :nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.footer__grid :nth-child(2) {
  display: none;
}

.footer__grid :nth-child(3) {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.footer__grid :nth-child(4) {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
}

.footer__contact, .footer__design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__title {
  font-family: var(--main-font-semibold);
  margin-top: 5em;
  margin-bottom: 1em;
}

.footer__menu {
  display: none;
}

.footer__contact {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

.footer__icons {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
}

.footer__icons img {
  width: 35px;
  margin-right: 1em;
}

.footer__logo {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9/10;
}

.footer__resume {
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10/11;
}

.footer__resume-link {
  cursor: pointer;
}

.footer__resume-link:active, .footer__resume-link:visited, .footer__resume-link:link {
  color: var(--bright-color);
}

.footer__design {
  -ms-grid-row: 11;
  -ms-grid-row-span: 1;
  grid-row: 11/12;
}

.footer__aboutme, .footer__menu, .footer__email, .footer__send, .footer__location {
  font-size: 0.9rem;
}

.footer__icons, .footer__menu-item, .footer__send {
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.footer__email, .footer__menu-item {
  margin-bottom: 0.5rem;
}

.footer__send {
  text-decoration: underline;
}

.footer__menu-item:hover, .footer__send:hover, .footer__resume-link:hover {
  font-family: var(--main-font-semibold);
  color: var(--third-color);
  -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
}

.footer__logo {
  display: none;
}

.footer__design {
  font-size: 0.8rem;
  margin-top: 4em;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 70%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__icon-item {
  position: relative;
}

.footer__icon-item:hover::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  border: 2px solid var(--third-color);
  border-radius: 50%;
  width: 33px;
  height: 33px;
  z-index: 10;
}

.footer__resume p, .footer__location {
  font-size: 0.7rem;
}

.footer__resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3em;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__resume-title {
  font-family: var(--main-font-semibold);
  margin-right: 1em;
  line-height: 1;
}

.footer__location {
  display: none;
}

.footer--bold {
  font-family: var(--main-font-regular);
}

.footer__resume-link {
  display: block;
}

.footer--bold {
  display: block;
}

/* ====================================
            MEDIA QUERY
======================================= */
@media only screen and (min-width: 62em) {
  .footer__grid {
    -ms-grid-columns: 2fr 1fr 1fr 1fr;
        grid-template-columns: 2fr 1fr 1fr 1fr;
    -ms-grid-rows: (auto)[4];
        grid-template-rows: repeat(4, auto);
    -webkit-column-gap: 4em;
            column-gap: 4em;
    width: 60%;
  }
  .footer__grid :nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .footer__grid :nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    display: block;
  }
  .footer__grid :nth-child(3) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .footer__grid :nth-child(4) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__aboutme {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    max-width: 24ch;
  }
  .footer__menu {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .footer__contact {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .footer__icons {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .footer__logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .footer__design {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .footer__resume {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .footer__location {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .footer__logo {
    display: block;
    width: 120px;
    opacity: 0.4;
  }
  .footer__design {
    margin: 0;
  }
  .footer__location {
    display: block;
    text-align: left;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-top: 5em;
  }
}
/*# sourceMappingURL=Footer.css.map */