@import '../utils/utils';

.hero {
  background: var(--gradient);
  height: 100vh;
  padding-top: 7.5em;

  &__filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--dark-color);
    opacity: 0.5;
    z-index: 2;
  }

  &__scroll {
    position: absolute;
    bottom: 3%;
    left: 49%;
    transform: translate(-50%);
    width: 40px;
    height: 40px;
    border: 0;
    cursor: pointer;
    z-index: 3;
  }
}

.hero .container {
  @include flexCenter(row);
  position: relative;
  height: 100%;
  width: 90%;
  z-index: 3;
}

/* ------ CUBE ------ */

.cube {
  position: relative;
  font-family: var(--main-font-heavy);
  font-size: 1.7rem;
  line-height: 1.5rem;
  width: 15em;
  height: 13em;
  z-index: 10;

  &__left,
  &__top,
  &__right {
    display: flex;
    flex-direction: column;
    position: absolute;
  }

  &__left {
    transform: skew(0deg, 30deg) scaleY(1.33333);
    top: 47%;
    left: 8.2%;
    color: var(--bright-color);
    opacity: 0.4;
  }

  &__top {
    transform: skew(60deg, -30deg) scaleY(.66667);
    top: 2%;
    left: 30%;
    color: var(--bright-color);
    opacity: 0.8;
  }

  &__right {
    transform: skew(0deg, -30deg) scaleY(1.33333);
    top: 39%;
    left: 48%;
    color: var(--third-color);
    opacity: 0.8;
  }

  /* ------ HOVER  ------ */

  &__left h2,
  &__top h2,
  &__right h2 {
    transition: all 0.3s ease;
  }

  &__top h2:hover {
    color: var(--third-color);
    transform: scale(1.1);
  }

  &__left h2:hover {
    color: var(--third-color);
    transform: scale(1.1);
  }

  &__right h2:hover {
    color: var(--bright-color);
    transform: scale(1.1);
  }
}

/* ====================================
            MEDIA QUERY
======================================= */

@media only screen and (min-width: 20em) {}

@media only screen and (min-width: 48em) {
  .cube {
    font-size: 3.5rem;
    line-height: 3rem;

    &__right {
      top: 37%;
      left: 47%;
    }
  }
}

@media only screen and (min-width: 62em) {}

@media only screen and (min-width: 75em) {
  .cube {
    width: 14.5em;
    height: 13em;

    &__left {
      top: 42%;
      left: 13%;
    }

    &__top {
      left: 30.5%;
    }

    &__right {
      top: 38%;
      left: 47%;
    }
  }
}