.section-hero {
  background: var(--gradient);
  height: 49em;
  padding-top: 120px;
}

.section-hero .container {
  display: flex;
  align-items: center;
  height: 100%;
}

.hero-info {
  display: flex;
  flex-direction: column;
  font-family: var(--main-font-semibold);
  font-size: 1.5rem;
  margin-bottom: 7em;
}

.hero-info p {
  font-family: var(--main-font-thin);
  font-size: 1.35rem;
  font-weight: 100;
}

.hightlight,
.highlight-special {
  font-size: 2.25rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--bright-color);
}

.highlight-special {
  color: var(--third-color);
}

.hero-image-container {
  text-align: right;
  width: 55%;
  z-index: 10;
}

.hero-image-container img {
  width: 500px;
  animation-name: grow-hello;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  transform: rotateZ(5deg);
}

@keyframes grow-hello {
  0% {
    transform: scale(1) rotateZ(5deg);
  }
  50% {
    transform: scale(1.3) rotateZ(-5deg);
  }
  100% {
    transform: scale(1) rotateZ(5deg);
  }
}

.wave-one {
  position: absolute;
  top: 33.5em;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave-one svg {
  position: relative;
  display: block;
  width: calc(214% + 1.3px);
  height: 253px;
  transform: rotateY(180deg);
  animation-name: grow-one;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.wave-one .shape-fill {
  fill: rgb(255, 255, 255, 0.5);
}
.wave-two {
  position: absolute;
  top: 40em;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave-two svg {
  position: relative;
  display: block;
  width: calc(149% + 1.3px);
  height: 150px;
  transform: rotateY(180deg);
  animation-name: grow-one;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
}

.wave-two .shape-fill {
  fill: rgb(255, 255, 255, 0.5);
}

@keyframes grow-one {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes grow-two {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
