.section--hero {
  background: var(--gradient);
  height: 49em;
  padding-top: 120px;
}

.section--hero .container {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.hero__info {
  display: flex;
  flex-direction: column;
  font-family: var(--main-font-semibold);
  font-size: 1.5rem;
  margin-bottom: 7em;
  z-index: 100;
}

/* ------ VIDEO  ------ */

.hero__filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 49em;
  background-color: var(--dark-color);
  opacity: 0.7;
}

/* ------ TYPE EFFECT ------ */

.hero__typing-effect {
  width: 100%;
  animation: typing 2s steps(18), effect 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 2.25em;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes effect {
  50% {
    border-color: transparent;
  }
}

.hero__info .hero__paragraphs {
  font-family: var(--main-font-thin);
  font-size: 1.35rem;
  font-weight: 100;
}

.hero__title {
  font-size: 2.25rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--bright-color);
}

.hero__title--highlight {
  color: var(--third-color);
}

