.navbar {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: var(--dark-color);
  overflow: visible;
  /* ------ LOGO FKODAMA ------ */
  /* ------ TOGGLE ------ */
  /* ------ NAV BAR ------ */
}

.navbar .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.navbar__logo {
  padding: 0.8em 0;
  width: 120px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.navbar__logo:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.navbar__toggle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--third-color);
}

.navbar__horizontal {
  display: none;
}

.navbar__menu, .navbar__close {
  width: 40px;
  cursor: pointer;
}

.navbar__extended {
  position: absolute;
  top: 4.2em;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  width: 75%;
  padding: 2.5em 2em 1em 3em;
  background-color: var(--third-color);
}

.navbar__item {
  position: relative;
  font-family: var(--main-font-light);
  color: var(--bright-color);
  text-decoration: none;
  cursor: pointer;
  display: block;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(255, 0, 0, 0);
          box-shadow: 0 0 1px rgba(255, 0, 0, 0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 1em;
  margin-right: 1em;
  font-family: var(--main-font-thin);
  font-size: 1.3rem;
  /* ------ MOUSE OVER ------ */
}

.navbar__item:hover::first-letter {
  color: var(--dark-color);
}

.navbar__item:hover, .navbar__item:focus, .navbar__item:active {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

/* ====================================
            MEDIA QUERY
======================================= */
@media only screen and (min-width: 48em) {
  .navbar__extended {
    padding: 5em 5em 3em 5em;
    width: 50%;
  }
  .navbar__item {
    margin-right: 3em;
  }
}

@media only screen and (min-width: 62em) {
  .navbar__toggle, .navbar__extended,
  .navbar__extended .navbar__item {
    display: none;
  }
  .navbar__horizontal {
    position: relative;
    top: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4.6rem 3.3rem 6.6rem 5.5rem 3.1rem 5.8rem 3.6rem 6rem 4.3rem;
        grid-template-columns: 4.6rem 3.3rem 6.6rem 5.5rem 3.1rem 5.8rem 3.6rem 6rem 4.3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 40em;
    padding: 0;
    background-color: var(--dark-color);
  }
  .navbar__item {
    font-size: 1rem;
    margin: 0;
  }
  .navbar__item:hover::first-letter {
    color: var(--third-color);
    font-family: var(--main-font-regular);
  }
}
/*# sourceMappingURL=Navbar.css.map */