.projects {
  position: relative;
  background-color: var(--dark-color);
  margin-top: 8em;
  padding-bottom: 15em;
}

.section-title--projects {
  text-align: center;
}

.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  align-items: center;
}

/* ====================================
            MEDIA QUERY
======================================= */

@media only screen and (min-width: 20em) {
}

@media only screen and (min-width: 48em) {
  .projects {
    padding-bottom: 10em;
  }
}

@media only screen and (min-width: 62em) {
  .projects {
    width: 100%;
    padding-bottom: 15em;

    .container {
      width: 80%;
    }
  }
}

@media only screen and (min-width: 75em) {
}
