.section-projects {
  position: relative;
  z-index: 10;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
  margin-top: 10em;
  margin-bottom: -10vw;
  height: 1400px;
  background-color: var(--dark-color);
}

.section-projects h2 {
  /* margin-bottom: 0; */
}

.projects-inner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}
