.section--projects {
  position: relative;
  z-index: 10;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
  margin-top: 10em;
  margin-bottom: -10vw;
  height: auto;
  padding-bottom: 30em;
  background-color: var(--dark-color);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.projects__title {
  text-align: center;
  margin-top: 5em;
  font-family: var(--main-font-regular);
  font-size: 1.5rem;
  text-transform: uppercase;
}
