@import '../utils/utils';

.skills {
    background-color: var(--dark-color);
    background-color: indigo;
    height: 100vh;

    & .container {
        @include flexCenter(column);
        width: 100%;
        height: 100vh;

        background-image: url(../assets/images/xx-bg-test.jpg); 

        // background-color: aliceblue;
        // box-shadow: 0.2em 0.2em 1em var(--dark-color) inset;
        // border-radius: 50%;
    }
}

.skills__cloud-one,
.skills__cloud-two {
    width: 10em;
    height: 10em;
}

.square {
    width: 10em;
    height: 10em;
    background-color: red;
}