.section--whyme {
  background-color: var(--dark-color);
  height: 175em;
  z-index: 10;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
  margin-bottom: -10vw;
  background-image: url(../assets/images/whyme-background.webp);
  background-repeat: repeat;
  background-size: contain;
  border: 4px solid blue;

  & .container {
  position: relative;
  height: 150em;
  border: 4px solid orange;
  width: 100%;
  height: 90%;
  }
}








// .section--whyme {

//   & .container {
//   height: 100vh;
//     margin: 0;
//   }
// }

// .why__line {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   text-align: center;
//   overflow: hidden;
// }

// svg {
//   display: inline-block;
//   height: 100%;
// }

// .one, .two {
//   height: 100vh;
//   display: grid;
//   place-content: center;
//   font-size: 4em;
// }




// .whyme__background {
//   border: 1px solid green;
// }

// .whyme__elements {
//   position: absolute;
//   top: 0%;
//   left: 0%;
//   width: 5em;
//   height: 5em;
//   border-radius: 50%;
//   color: indigo;
//   z-index: 12;
// }

// .whyme__content {
//   width: 5em;
//   height: 5em;
//   border-radius: 30%;
//   color: red;
//   z-index: 12;
// }

// .whyme__title {
//   grid-column: 1/2;
//   grid-row: 2/3;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: flex-end;
//   width: 2.8em;
//   font-family: var(--main-font-heavy);
//   font-size: 6em;
//   line-height: 0.9em;
//   color: transparent;
//   background-color: rgba(82, 96, 117, 0.5);
//   background-clip: text;
//   text-shadow: rgba(255, 255, 255, 0.5) 0 5px 6px,
//     rgba(255, 255, 255, 0.2) 1px 3px 3px;
//   transition: text-shadow 0.1s ease-out, background-color 0.2s ease-out;
// }

// .test-wrapper {
//   display: flex;
// }

// .test {
//   font-size: 8rem;
//   font-family: var(--main-font-heavy);
// }

// .test-1 {
//   color: w;
//   background: #666666;
//   background-clip: text;
//   text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
// }

// .test-2 {
//   color: #616161;
//   text-shadow: #e0e0e0 0px 1px 0;
// }

// .test-3 {
//   background-color: #565656;
//   color: transparent;
//   text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
//   -webkit-background-clip: text;
//   -moz-background-clip: text;
//   background-clip: text;
// }

// .test-4 {
//   color: transparent;
//   background-color: rgba(82, 96, 117, 0.5);
//   background-clip: text;
//   text-shadow: rgba(255, 255, 255, 0.5) 0 5px 6px,
//     rgba(255, 255, 255, 0.2) 1px 3px 3px;
//   transition: text-shadow 0.1s ease-out, background-color 0.2s ease-out;
// }

// .test-second {
//   font-size: 8rem;
//   font-family: var(--main-font-heavy);
//   color: #565656;
// }

// .test-m {
//   transform: skew(0deg, -25deg) scaleY(1);
// }

// .whyme__letter {
//   cursor: pointer;
// }

// .whyme__letter:hover {
//   animation: jello-letter 0.5s ease 0s 1 normal forwards;
// }

// @keyframes jello-letter {
//   0% {
//     transform: scale3d(1, 1, 1) translateY(0) rotate(0deg);
//     transform-origin: 50% 50%;
//   }
//   10% {
//     transform: rotate(4deg);
//   }
//   20%,
//   60% {
//     transform: rotate(-5deg);
//   }
//   30% {
//     transform: scale3d(0.75, 1.25, 1) rotate(5deg);
//   }
//   40% {
//     transform: scale3d(1.25, 0.75, 1) rotate(-5deg);
//   }
//   50% {
//     transform: scale3d(0.85, 1.15, 1) translateY(-10px) rotate(5deg);
//   }
//   65% {
//     transform: scale3d(1.05, 0.95, 1);
//   }
//   75% {
//     transform: scale3d(0.95, 1.05, 1) rotate(5deg);
//   }
//   80% {
//     transform: rotate(-4deg);
//   }
//   90% {
//     transform: rotate(4deg);
//   }
//   100% {
//     transform: scale3d(1, 1, 1) translateY(0);
//     transform-origin: 50% 50%;
//   }
// }


// @keyframes flip-scale-2-hor-top {
//     0% {
//               transform: translateY(0) rotateX(0) scale(1);
//               transform-origin: 50% 0%;
//     }
//     50% {
//               transform: translateY(-50%) rotateX(-90deg) scale(2);
//               transform-origin: 50% 50%;
//     }
//     100% {
//               transform: translateY(-100%) rotateX(-180deg) scale(1);
//               transform-origin: 50% 100%;
//     }
// }