.section--whyme {
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 5fr 3fr 5fr;
    background-color: orange;
    height: 50em;
}

.whyme__title {
    grid-column: 2/3;
    grid-row: 2/3;
    font-family: var(--main-font-semibold);
    font-size: 5em;
    line-height: 0.9em;
    text-align: center;
}