.whyme {
  background-color: var(--dark-color);

  & .container {
    margin-top: 5em;
    margin-bottom: 6em;
    max-width: 80%;
  }
}

.section-title {
margin-top: 5em;
}

.whyme-subtitle {
  margin: 0.8em 0 5em 0;
  text-align: center;
  margin-bottom: 5em;
}

/* ====================================
          GENERAL TYPOGRAPHY
======================================= */

.cv__first-title,
.cv__first-title--bright,
.cv__title {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.circle__title,
.circle__text,
.circle-small__title,
.circle-small__text,
.cv__first-title,
.cv__first-title-curly,
.cv__first-title--bright,
.cv__title,
.cv__cia-date,
.cv__tech,
.cv__benefit {
  text-transform: uppercase;
}

.circle__title,
.circle-clicked__title,
.cv__first-title,
.cv__first-title--bright,
.cv__title,
.cv__benefit {
  font-family: var(--main-font-heavy);
}


/* ====================================
            CIRCLES + LINES
======================================= */

.circle,
.circle-clicked {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  width: 19em;
  height: 19em;
  align-items: center;
  margin: 0 auto;
  animation: circle-appear 1s ease-in-out forwards;
}

@keyframes circle-appear {
  0% {
    transform: translateY(100px) scale(0.2);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.circle-clicked {
  background-color: var(--dark-color);
  border: 2px solid var(--third-color);
  padding: 1.8em 3em;

  &__title,
  &__text {
    text-align: center;
  }

  &__title {
    font-size: 1.3rem;
    margin-bottom: 0.3em;
    color: var(--dark-color);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--bright-color);
  }
  
  &__text {
    font-family: var(--main-font-regular);
    color: var(--third-color);
    font-size: 0.9rem;
    line-height: 1.1rem;
  }
  
  &__quote,
  &__quote--bright {
      display: none;
  }

  &__quote {
    font-family: var(--main-font-light);
    font-style: italic;
    color: var(--bright-color);
  }

  &__quote--bright {
    color: var(--bright-color);
    margin-top: 0.5em;
  }
}

.circle {
  background-color: var(--third-color);
  padding: 2em;

  &__title,
  &__text {
    font-size: 1.5rem;
    text-align: center;
  }

  &__title {
    width: 8ch;
    color: var(--dark-color);
    margin-bottom: 0.8em;
    line-height: 1.3rem;
  }
  
  &__text {
    font-family: var(--main-font-semibold);
    line-height: 1.7rem;
    }
}

.circle-small {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -35px);
  display: flex;
  flex-direction: column;
  background-color: var(--third-color);
  border-radius: 50%;
  width: 4.5em;
  height: 4.5em;
  align-items: center;
  padding: 0.8em;
  margin: 0 auto;
  border: 2px solid var(--dark-color);
  cursor: pointer;
  z-index: 3;

  &__title,
  &__text {
    font-size: 0.5rem;
    line-height: 0.5rem;
    text-align: center;
  }

  &__title {
    width: 8ch;
    font-family: var(--main-font-semibold);
    color: var(--dark-color);
    margin-bottom: 0.5em;
  }
  
  &__text {
    font-family: var(--main-font-regular);
    width: 5ch;
  }
}

/* ====================================
            RESUME (CV)
======================================= */


.cv {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &::after {
    display: none;
    content: "";
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    height: 85%;
    width: 3px;
    background-color: var(--third-color);
  }
  
  // ----------- ITEM -----------

  &__item:first-child {
    margin-top: 3em;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  // ----------- FIRST BLOCK -----------

  &__first-container,
  &__a-wrapper,
  &__b-wrapper {
    width: 85%;
  }

  &__first-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0;
  }

  &__first-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &__first-title {
    color: var(--third-color);
    padding: 0 2em;
    text-align: center;
  }

  &__first-title-curly {
    font-size: 2.8em;
    font-family: var(--main-font-regular);
    color: var(--third-color);
    padding-bottom: 0.1em;
  }

  &__first-title--bright {
    width: 10ch;
  }

  &__today {
    font-family: var(--main-font-semibold);
    background-color: var(--third-color);
    color: var(--dark-color);
    padding: 0 0.6em;
  }


  // ----------- COMMON ELEMENTS -----------

  &__first-square,
  &__square {
    display: none;
    position: absolute;
    right: -2.95em;
    top: 2em;
    background-color: var(--third-color);
    width: 12px;
    height: 12px;
  }
  
  // ----------- COMMON TEXTS: A -----------

  &__a-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    text-align: right;
    margin-right: 0;
  }

  &__title {
    color: var(--dark-color);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--bright-color);
    width: 15ch;
    margin-bottom: 0.4em;
    line-height: 1.1em;
  }

  &__cia-date {
    font-size: 0.8rem;
    font-family: var(--main-font-light);
    width: 25ch;
  }

  &__hightlight {
    color: var(--third-color);
    font-family: var(--main-font-regular);
    text-align: center;
  }

  &__tech {
    font-size: 0.8rem;
    font-family: var(--main-font-regular);
    line-height: 1rem;
    text-align: right;
    margin-top: 0.4em;
  }

  &__tech--mobile {
    text-align: center;
  }

  // ----------- COMMON TEXTS: B -----------

  &__b-wrapper {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    text-align: left;
    margin-top: 1em;
    margin-left: 0;
  }

  &__b-wrapper--mobile {
    align-items:center;
    text-align: center;
  }

  &__benefit-title {
    font-family: var(--main-font-semibold);
    font-size: 0.8rem;
    color: var(--third-color);
  }

  &__benefit {
    font-family: var(--main-font-semibold);
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-top: 0.5em;
  }
}

.pics {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 150px;
  grid-auto-flow: dense;
  margin: 10em 3em;
}

.pic {
  width: 100%;
  height: 100%;
  object-fit: contain;
  // animation: pics-why-appear 1s ease-in-out forwards;
}

@keyframes pics-why-appear {
  0% {
    transform: translateY(400px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.pics__vertical {
  grid-row: span 2;
}

.pics__cube {
  grid-column: span 1;
}


/* ====================================
            MEDIA QUERY
======================================= */

@media only screen and (min-width: 20em) {
}

@media only screen and (min-width: 48em) {
}

@media only screen and (min-width: 62em) {
  .whyme {
    & .container {
      max-width: 100%;
    }
  }

  .circle,
  .circle-clicked {
    width: 22em;
    height: 22em;

    &__quote,
    &__quote--bright {
        display: block;
    }
  }

  .circle {
  padding: 3.3em 3.5em 4em 3.5em;
  }

  .circle-clicked {
    padding: 1.8em 2.5em;
  }

  .cv {
    &::after {
      display: block;
    }
    
    &__item:first-child {
      margin-top: 5em;
    }

    &__first-square,
    &__square {
      display: block;
    }

    &__item {
      flex-direction: row;
    }

    &__first-container,
    &__a-wrapper,
    &__b-wrapper {
      width: 25em;
    }

    &__first-container {
      display: block;
      margin-right: 2.5em;
    }

    &__first-wrapper {
      flex-wrap: no;
      justify-content: flex-end;
    }

    &__first-title {
      width: 8ch;
      padding: 0;
    }

    &__cia-date {
      width: auto;
    }

  &__hightlight {
    text-align: right;
  }

    &__tech--mobile {
      text-align: right;
    }
    
    &__a-wrapper {
      margin: 2em 0;
      margin-right: 2.5em;
    }

    &__b-wrapper {
      margin: 2em 0;
      margin-left: 2.5em;
    }

    &__b-wrapper--mobile {
      align-items:flex-start;
      text-align: left;
    }

    &__benefit {
      width: 25ch;
    }
  }
}

@media only screen and (min-width: 75em) {
}



