.section--code {
  position: relative;
  background: var(--dark-color);
  background-color: rgb(67, 67, 67);
  display: flex;
  height: auto;
  cursor: url(../assets/images/code-pointer.png), auto;
}

.code__background {
background-color: orange;
}

/* .section--code .container {
  background-image: url('../assets/images/xray.jpg');
  background-size: cover;
}  */

/* ------- X-RAY EFFECT ------- */

/* 
.image-be-masked {
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/xray.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  mask-image: url('../assets/images/mask-circle.png');
  mask-repeat: no-repeat;
  mask-position: center;
}

.image-be-masked:hover {
  mask-position: -10px -10px;
} */

/* 

.mousearea {
  position: relative;
  height: 50em;
  --maskX: 0;
  --maskY: 0;
  /* border: 1px red solid; */
/* 
.circle {
  display: block;
  position: absolute;
  width: 300px;
  top: calc(var(--maskY) - 150px);
  left: calc(var(--maskX) - 150px);
  transition: all 0.8s cubic-bezier(0.165,0.84,0.44,1);
}  */

/* .text-content {
  background: pink;
  color: white;
  height: 100vh;
}

.mask-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mask {
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
  overflow: hidden;
}

.mask-content {
  position: absolute;
  top: 0; 
  left: 0; 
  background-image: url('../assets/images/mask-circle.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
  color:#ffffff;
} */


/* ------- QUOTE ------- */

.code__quote-wrapper {
  display: flex;
  flex-direction: column;
  width: 55em;
  text-align: right;
  margin: 10em 0;
  margin-right: 5em;
}

.code--quote,
.code--robert {
  font-family: var(--main-font-semibold);
  text-transform: none;
}

.code--quote {
  font-size: 4rem;
  line-height: 4.5rem;
}

.code--robert {
  font-size: 2rem;
  margin-top: 1em;
  line-height: 3rem;
}

.code--author {
  font-family: var(--main-font-ligth);
}

/* ------- WORDS ------- */

.code--words {
  text-align: center;
  font-size: 3em;
  font-family: var(--main-font-semibold);
  text-transform: uppercase;
}

.code--words:last-child {
  margin-bottom: 5em;
}
