.out-container {
  margin: 0 auto;
  width: 70%;
  border: 1px solid magenta;
}

/* --- AVATAR CONTAINER --- */

.inner-container {
  display: flex;
  justify-content: space-between;
  margin: 9em 0;
  border: 1px solid yellow;
}

/* --- ICONS CONTAINER --- */

.icons-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5em;
}

.icons-title {
  font-size: 0.7rem;
  font-family: var(--main-font-light);
  margin-top: 1em;
}

.avatar-icon {
  border: 1px dashed var(--dark-color);
  padding: 0.5em;
  width: 110px;
  cursor: pointer;
}

/* --- AVATAR + DESCRIPTION CONTAINER --- */

.avatar-description-container {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  border: 1px solid orange;
  /* height: 5.25rem;
  width: 20rem; */
}

.avatar-image {
  width: 390px;
  height: 390px;
  z-index: 1;
}

.skills-wrapper {
  margin: 2em;
  max-width: 9 0%;
  border: 1px solid blue;
}

.skills-title {
  font-family: var(--main-font-semibold);
  font-size: 0.9rem;
  border: 1px solid red;
}

.skills-description {
  font-size: 0.8rem;
}
