.card-container {
  display: flex;
  flex-direction: column;
  margin: 4em 0 3em 3em;
  width: 270px;
  text-align: left;
}

.card-container:first-child {
  margin-left: 0;
}

/* ----------------------- */
/* ----- ACTIVE CARD ----- */
/* ----------------------- */

.card-container--active {
  width: 500px;
  background-color: rgb(255, 255, 255);
  padding: 1em;
  border: 1px solid rgb(255, 255, 255, 0.3);
}

.card-container--active .card-image {
  display: block;
  width: 500px;
  height: 350px;
}

.card-container--active .card-icon,
.card-container--active .card-description {
  display: none;
}

.card-container--active .card-box {
  pointer-events: none;
  border: none;
  box-shadow: none;
  padding-left: 0;
  height: auto;
  background-color: rgb(255, 255, 255);
}

.card-container--active .title-wrapper {
  display: flex;
  flex-direction: row;
  width: 450px;
  height: auto;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
}

.card-container--active .card-title,
.card-container--active .card-tech {
  font-family: var(--main-font-regular);
  font-size: 1.3rem;
}

.card-container--active .card-text {
  display: block;
  font-family: var(--main-font-thin);
  font-size: 1rem;
  color: var(--dark-color);
}

.card-container--active .card-category {
  color: var(--third-color);
  font-family: var(--main-font-regular);
}

.card-container--active .card-title {
  padding: 0.5rem 2rem 0.5rem 0;
  background-color: none;
  color: var(--dark-color);
}

/* .card-container--active .card-title {
  color: var(--dark-color);
  background: var(--bright-color);
  font-family: var(--main-font-semibold);
  padding: 0.5rem 2rem;
} */

.card-container--active .explore-wraper {
  display: flex;
  align-self: flex-end;
  margin-top: 1.5em;
  cursor: pointer;
}

.card-container--active .card-explore {
  font-family: var(--main-font-regular);
  font-size: 1.125rem;
  text-decoration: none;
  color: var(--dark-color);
  padding-bottom: 0.2em;
  margin-bottom: 1em;
  border-bottom: 1px solid var(--dark-color);
}

.card-container--active .card-icon-visit {
  padding-bottom: 0.3em;
  padding-left: 0.5em;
}

/* ----- ELEMENTS NOT ACTIVED ----- */

.card-image,
.card-text {
  display: none;
}

/* ----- CATEGORY ----- */

.card-category {
  font-size: 1rem;
  font-family: var(--main-font-light);
  padding-bottom: 0.3em;
}

/* ----- ICON ----- */

.card-icon {
  width: 32px;
  margin-top: 1em;
}

/* ----- TITLES ----- */

.card-box {
  position: relative;
  width: 270px;
  height: 270px;
  border: 1px solid var(--bright-color);
  background: var(--dark-color);
  padding-left: 1em;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: var(--bright-color) 0px 0px 0px 0px inset,
    var(--dark-color) -10px 10px 0px -1px, var(--bright-color) -10px 10px;
}

.card-box:hover {
  transform: translate(-10px, 10px);
  box-shadow: var(--bright-color) 0px 0px 0px 0px inset,
    var(--dark-color) 0px 0px 0px -1px, var(--bright-color) 0px 0px;
  background: var(--bright-color);
  color: var(--dark-color);
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  height: 77%;
  justify-content: center;
}

.card-title {
  font-family: var(--main-font-heavy);
  font-size: 2.25rem;
  line-height: 2.25rem;
  padding-bottom: 0.1em;
}

.card-tech {
  font-family: var(--main-font-semibold);
  font-size: 1.3rem;
  color: var(--third-color);
  text-transform: uppercase;
}

/* ----- DESCRIPTION ----- */

.card-description {
  font-family: var(--main-font-thin);
  font-size: 1rem;
  margin-top: 1.5em;
}

/* ----- EXPLORE ----- */

.explore-wraper {
  display: none;
}
