.card {
  position: relative;
  margin: 0.5em;
}

/* ------- ANIMATION -------- */

.card-front__reveal {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: 1s all ease;
}

.card-front__reveal.card-front__reveal--active{
  transform: translateY(0);
  opacity: 1;
}

/* --------------------------- */
/* ------- FRONT CARD -------- */
/* --------------------------- */


.card-front {
  flex-direction: column;
  margin: 1em 0;
  width: 240px;
  text-align: left;
  
  :first-child {
    margin-left: 0;
  }
  
  &__category {
    font-size: 0.9rem;
    font-family: var(--main-font-light);
    padding-bottom: 0.8rem;
  }
  
  &__box {
    position: relative;
    width: 240px;
    border: 1px solid var(--bright-color);
    background: var(--dark-color);
    padding-left: 1em;
    padding-bottom: 1em;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow:
      var(--bright-color) 0px 0px 0px 0px inset,
      var(--dark-color) -10px 10px 0px -1px,
      var(--bright-color) 0px 0px;

      &:hover {
        transform: translate(10px, -10px);
        box-shadow: 
          var(--bright-color) 0px 0px 0px 0px inset,
          var(--dark-color) -10px 10px 0px -1px,
          var(--bright-color) -10px 10px;
        color: var(--dark-color);
        background-image: radial-gradient(#000000 0.5px, #f6f6f6 0.5px);
        background-size: 10px 10px;
      }
  }
    
  &__icon {
    width: 25px;
    margin-top: 1em;
  }

  /* ------ TITLES ------ */
  
  &__title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 77%;
    width: 15em;
  }
  
  &__title--red {
    display: none;
    text-transform: lowercase;
    color: var(--third-color);
    font-family: var(--main-font-semibold);
    font-size: 1.2rem;
  }

  &__title {
    font-family: var(--main-font-semibold);
    font-size: 1.4rem;
    line-height: 2.25rem;
    padding-bottom: 0.1em;
    text-transform: uppercase;
  }
  
  &__tech {
    font-family: var(--main-font-semibold);
    font-size: 1rem;
    color: var(--third-color);
    text-transform: uppercase;
  }
  
  &__description {
    font-family: var(--main-font-thin);
    font-size: 0.9rem;
    margin-top: 0.8em;
  }
}

/* --------------------------- */
/* -------- BACK CARD -------- */
/* --------------------------- */

.card-back {
  position: fixed;
  top: 5em;
  left: 0;
  height: 100%;
  z-index: 15;
  display: flex;
  width: 100%;
  color: #1c1c1c;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: scroll;

  &__background {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    max-width: 80em;
    margin: 0 auto;
    padding: 4em 0;
    animation: open-back-card 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  }
  
   @keyframes open-back-card {
    0% {
      transform: translateY(-150px) translateZ(130px) rotateX(-90deg);
      transform-origin: top center;
    }
    100% {
      transform: translateY(-50%) translateZ(0) rotateX(0deg);
      transform-origin: top center;
    }
  }

  &__close {
    position: absolute;
    right: 5%;
    top: 1.5%;
    width: 32px;
    cursor: pointer;
  }

  &__first-container,
  &__second-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
  }

  &__first-wrapper, 
  &__second-wrapper {
    width: 18em;
    align-self: center;
  }

  &__line {
    display: block;
    width: 60em;
    animation: line-movement 25s infinite linear;
    padding: 1em;
    margin-top: 2em;
  }

  @keyframes line-movement {
    0% {
          transform: translateX(-40%) scale(2);
    }

    50% {
      transform: translateX(0%) scale(2);
    }

    100% {
      transform: translateX(40%) scale(2);
    }
  }

  /* ------- FIRST CONTAINER ------- */

  &__main-title {
    font-family: var(--main-font-heavy);
    font-size: 2.7rem;
    color: #1c1c1c;
    line-height: 4rem;
    text-transform: capitalize;

    span {
      text-transform: lowercase;
      color: var(--bright-color);
    }
  }

  &__year,
  &__visit,
  &__category {
    color: #ffffff;
  }

  &__year {
    font-family: var(--main-font-semibold);
    font-size: 1.2rem;
    margin-bottom: 1em;
  }

  &__image {
    display: block;
    width: 15em;
    height: 20em;
    margin-left: 2em;
    box-shadow: -2em 2em rgba(0, 0, 0, 0.1);
  }

  &__visit {
    position: relative;
    font-family: var(--main-font-semibold);
    font-size: 1.25rem;
    text-decoration: none;
    margin-top: 3em;
    text-align: end;
    cursor: pointer;

    ::after {
      position: absolute;
      bottom: -0.1em;
      right: 0;
      content: "";
      width: 7.4rem;
      height: 1px;
      color: var(--bright-color);
      margin-top: 4em;
      cursor: pointer;
      text-align: end;
      border-bottom: 2px solid var(--bright-color);
    }
  }

  /* ------- SECOND CONTAINER ------- */

  &__category {
    font-family: var(--main-font-semibold);
    font-size: 1.25rem;
    text-align: left;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  &__title {
    font-family: var(--main-font-regular);
    font-size: 1.2rem;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }

  &__title {
    font-family: var(--main-font-heavy);
    font-size: 1.1rem;
  }

  &__text {
    width: 30ch;
    font-size: 0.9rem;

    &--bold {
      display: none;
    }

    &--last {
      margin-bottom: 5em;
    }
  }
}

/* ====================================
            MEDIA QUERY
======================================= */

@media only screen and (min-width: 20em) {
}

@media only screen and (min-width: 48em) {
  .card {
    margin: 0 2em;
  }

  .card-front {
    width: 270px;
    margin: 2em 0 1em 0;

    &__category {
      font-size: 1rem;
    }

    &__box {
      width: 270px;
      height: 270px;
      transition: all 0.2s ease;
    }

    &__icon {
      width: 32px;
      margin-top: 1em;
    }
  
    &__title--red {
      display: block;
      font-size: 1.8rem;
    }

    &__title {
      font-size: 2.25rem;
      line-height: 2.25rem;
    }
  
    &__tech {
      font-size: 1.3rem;
    }
      
    &__description {
      font-size: 1rem;
      margin-top: 1.5em;
    }
  }
 
  .card-back {
    &__background {
      top: 75%;
    }
  
    &__category {
      margin-top: 2.5em;
    }

    &__first-wrapper, 
    &__second-wrapper {
      width: 22.5em;
    }
  
    &__image {
      width: 20.25em;
      height: 28.85em;
    }
  
    &__text {
      font-size: 1rem;
      width: 35ch;

      &--bold {
        display: block;
        font-family: var(--main-font-semibold);
        color: var(--bright-color);
        background-color: rgba(0, 0, 0, 0.1);
        font-size: 0.8rem;
      }
      
      &--last {
        margin-bottom: 0;
      }
    }
  }
}

@media only screen and (min-width: 62em) {
  .card-back {
    &__background {
      top: 55%;
    }
  }
}

@media only screen and (min-width: 75em) {
  .card {
    margin: 2em;
  }

  .card-front {
    margin: 2em 0 0 0;
  }

  .card-back {
    flex-direction: column;

    &__background {
      flex-direction: row;
      top: 45%;
    }

    &__first-container{
      padding-bottom: 0;
    }
    &__second-container {
      border: 0;
    }

    &__first-container,
    &__second-container {
      width: 50%;
      align-items: center;
    }
      
    &__line {
      display: none;
    }

    &__close {
      right: 3%;
      top: 3%;
    }

    &__image {
      width: 22.5em;
      height: 31em;
    }

    &__category {
      text-align: right;
    }
  }
}

