.card {
  margin: 2em;
}

/* --------------------------- */
/* ------- FRONT CARD -------- */
/* --------------------------- */

.card-front {
  display: flex;
  flex-direction: column;
  margin: 4em 0 3em 3em;
  width: 270px;
  text-align: left;
}

.card-front:first-child {
  margin-left: 0;
}

/* ----- CATEGORY ----- */

.card-front__category {
  font-size: 1rem;
  font-family: var(--main-font-light);
  padding-bottom: 0.8rem;
}

/* ------- ICON ------- */

.card-front__icon {
  width: 32px;
  margin-top: 1em;
}

/* ------- BOX -------- */

.card-front__box {
  position: relative;
  width: 270px;
  height: 270px;
  border: 1px solid var(--bright-color);
  background: var(--dark-color);
  padding-left: 1em;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: var(--bright-color) 0px 0px 0px 0px inset,
    var(--dark-color) -10px 10px 0px -1px, var(--bright-color) 0px 0px;
}

.card-front__box:hover {
  transform: translate(10px, -10px);
  box-shadow: var(--bright-color) 0px 0px 0px 0px inset,
    var(--dark-color) -10px 10px 0px -1px, var(--bright-color) -10px 10px;
  color: var(--dark-color);
  background-image: radial-gradient(#000000 0.5px, #f6f6f6 0.5px);
  background-size: 10px 10px;
}

/* ------ TITLES ------ */

.card-front__title-wrapper {
  display: flex;
  flex-direction: column;
  height: 77%;
  justify-content: center;
  width: 15em;
}

.card-front__title {
  font-family: var(--main-font-semibold);
  font-size: 2.25rem;
  line-height: 2.25rem;
  padding-bottom: 0.1em;
}

.card-front__tech {
  font-family: var(--main-font-semibold);
  font-size: 1.3rem;
  color: var(--third-color);
  text-transform: uppercase;
}

/* ----- TEXT ----- */

.card-front__text {
  font-family: var(--main-font-thin);
  font-size: 1rem;
  margin-top: 1.5em;
}


/* --------------------------- */
/* -------- BACK CARD -------- */
/* --------------------------- */


.card-back {
  display: none;
  width: 500px;
  background-color: var(--bright-color);
  padding: 0.2em 1em 1em 1em;
  border: 1px solid rgb(255, 255, 255, 0.3);
  cursor: pointer;
  transition: all 0.2s ease;
  color: var(--dark-color);
}

/* ------- HEADER ------- */

.card-back__header {
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 0.5em 0.25em;
}

.card-back__category {
  color: var(--dark-color);
  font-family: var(--main-font-regular);
  padding-bottom: 0;
}

.card-back__close {
  display: inline-block;
  width: 32px;
}

/* ------- IMAGE ------- */

.card-back__image {
  display: block;
  width: 500px;
  height: 350px;
}

/* ----- MAIN TITLE ----- */

.card-back__main-title {
  font-family: var(--main-font-semibold);
  font-size: 1.5rem;
  background-color: var(--dark-color);
  color: var(--bright-color);
  margin-top: 0.25em;
  margin-bottom: 0.5em;
  padding: 0.2em;
  padding-left: 0.5em;
}

.card-back__main-title span {
  color: var(--third-color);
  font-family: var(--main-font-regular);
}

/* ------- INFO AREA -------- */

.card-back__info-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0.7em;
}

/* ------ PARAGRAPHS ------- */

.card-back__title {
  font-family: var(--main-font-regular);
  font-size: 1.2rem;
  padding-left: 2em;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.icon-purpose,
.icon-robot {
  background-repeat: no-repeat;
  width: 20px;
}

.icon-purpose {
  background-image: url(../assets/images/card-icon-purpose.svg);
}


.icon-robot {
  background-image: url(../assets/images/card-icon-robot.svg);
}

/* ----- VISIT PROJECT ----- */

.card-back__visit {
  font-family: var(--main-font-regular);
  font-size: 1.125rem;
  text-decoration: none;
  color: var(--dark-color);
  padding-right: 2em;
  margin-top: 3em;
  cursor: pointer;
  text-align: end;
}

.icon-visit {
  background-image: url(../assets/images/card-icon-visit.svg);
  background-repeat: no-repeat;
  background-position: 23em;
  background-size: 20px;
}


