.color {
 position: absolute;
 top: 50%;
 right: 5%;    
 z-index: 2;

 
    &__square-first {
        display: none;
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    &__icon--open,
    &__icon--close {
        background-size: 32px;
        padding: 1em;
        cursor: pointer;
    }

    &__icon--open {
        background-image: url(../assets/images/ico-brush.png);
    }

    &__icon--close {
        background-image: url(../assets/images/ico-brush-close.png);
    }

    &__square-wrapper {
        display: none;
        position: absolute;
        bottom: 2em; 
        left: 0%;
        display: flex;
        flex-direction: column;
        width: auto;
        padding: 0.2em 0.2em;
        z-index: -1;
        animation: colors-up 1s ease-in-out forwards;
    }

    @keyframes colors-up {
        0% {
            transform: translateY(0);
            opacity: 0;
        }
        100% {
            transform: translateY(-30%);
            opacity: 1;
        }
    }

    &__options {
        display: flex;
        padding: 0.1em;
        border: 1px dashed transparent;
        cursor: pointer;
    }
    /* ------- PALETTE ------- */

    &__square {
        width: 12px;
        height: 12px;
        margin: 0.1em 0.1em;
        border: 1px solid var(--bright-color);
    }

    /* ------- COLORS ------- */

    &--active {
        border-color: var(--bright-color);
    }

    &--one {
        background-color: #1c1c1c;
    }

    &--two {
        background-color:#ed1c24 ;
        margin-left: 0.3em;
    }

    &--three {
        background-color: #29335C;
    }

    &--four {
        background-color: #F3A712;
        margin-left: 0.3em;
    }

    &--five {
        background-color: #757575;
    }

    &--six {
        background-color: #03A9F4;
        margin-left: 0.3em;
    }
}

/* ====================================
            MEDIA QUERY
======================================= */

@media only screen and (min-width: 20em) {
}

@media only screen and (min-width: 48em) {
}

@media only screen and (min-width: 62em) {
  .color {
    &__square-first {
        display: block;
    }
  }

}

@media only screen and (min-width: 75em) {
}
