.color {
 position: absolute;
 top: 20em;
 right: 7%;    
}

.color__square-first,
.color__square-wrapper {
    background-color: var(--third-color);
}

.color__square-first {
    width: 40px;
    height: 40px;
    background-image: url(../assets/images/color-palette.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.color__square-wrapper {
    display: none;
    position: absolute;
    bottom: 0; 
    left: -6.5em;
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 0.5em 0.5em;
}

.color__options {
    display: flex;
    padding: 0.4em;
    cursor: pointer;
    border: 1px dashed transparent;
}

.color--active {
    border-color: var(--bright-color);
}

.color__square {
    width: 25px;
    height: 25px;
    margin: 0.1em 0.2em;
    border: 0.5px solid var(--bright-color);
}

.color-one {
    background-color: #1c1c1c;
}

.color-two {
    background-color:#ed1c24 ;
    margin-left: 0.5em;
}

.color-three {
    background-color: var(--dark-two-color);
}

.color-four {
    background-color: var(--third-two-color);
    margin-left: 0.5em;
}

.color-five {
    background-color: var(--dark-three-color) ;
}

.color-six {
    background-color: var(--third-three-color);
    margin-left: 0.5em;
}