

<head>

</head>
<body>
    <header>
        <div class="container">
            <a href="" class="logo"></a>
            <nav>
                <ul class="navbar">
                    <li class="navbar__item"><a href="">about</a></li>
                    <li class="navbar__item"><a href="">about</a></li>
                    <li class="navbar__item"><a href="">about</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        
        <section class="section section--hero">
            <div class="container">
                <div class="hero-info">
                    <p>Hi, I'm...</p>
                    <h1>Front</h1>
                    <h2>HTML...</h2>
                    <h2>GIT...</h2>
                    <p>Based...</p>
                </div>
                <img class="hero-img" src="" alt="">
            </div>
        </section>
        
        <section class="section section--purpouse">

        </section>
        
        <section class="section section--product">
            <div class="container">

            </div>
        </section>

        <section class="section section--contact">
            <div class="container">
                <h2>Message Generator</h2>
                
                <form action="">
                    
                </form>

            </div>
        </section>




    </main>
    <footer>

    </footer>
</body>




