.why-container {
  position: absolute;
  display: flex;
  width: max-content;
  align-items: flex-end;
  transform: translate(-50%);
  color: var(--bright-color);
  z-index: 10;
}

/* ----- TOGGLE ----- */

.why-toggle {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 40px;
  background-color: var(--dark-color);
  align-items: center;
  justify-content: center;
  border: 0;
  cursor: pointer;
}

.why-toggle--active {
  background-color: var(--third-color);
}

.eye {
  width: 30px;
}

.why-toggle__label {
  display: none;
  position: absolute;
  top: -2em;
  left: -6px;
  color: var(--bright-color);
  font-family: var(--main-font-regular);
  font-size: 0.65rem;
  width: 50px;  
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  line-height: 0.7rem;
  animation-name: icon-shake;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.why-toggle__label--active {
  display: block;
}

/* ----- BUTTON ANIMATION ----- */

/* .why-toggle__label:hover,
.why-toggle__label:focus,
.why-toggle__label:active {
  display: block;
  transform: translate(10px);
} */

@keyframes icon-shake {
  50% {
    transform: translateX(2px) rotate(3deg);
  }
  100% {
    transform: translateX(-2px) rotate(-3deg);
  }
}
@keyframes hvr-buzz {
  50% {
    transform: translateX(2px) rotate(3deg);
  }
  100% {
    transform: translateX(-2px) rotate(-3deg);
  }
}

/* ----- WHY CARD ----- */

.why {
  position: relative;
  display: none;
  flex-direction: column;
  padding: 1em 2em 2em 2em;
  background-color: var(--third-color);
  width: max-content;
  position: absolute;
  bottom: 0em;
  left: 2.9em;
}

.why__close {
  position: absolute;
  top: 0em;
  right: 0em;
  padding: 0.5em;
  cursor: pointer;
}

.why__item {
  display: flex;
  flex-direction: column;
  width: 30ch;
  margin: 1em 0 3em 0;
}

.why__title {
  font-family: var(--main-font-semibold);
  font-size: 1.1rem;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 1.5em;
  padding-left: 2.5em;
  padding-bottom: 0.5em;
}

.why__title--flag {
  background-image: url("../assets/images/why-icon-flag.svg");
}

.why__title--bolt {
  background-image: url("../assets/images/why-icon-bolt.svg");
}

.why__title--brush {
  background-image: url("../assets/images/why-icon-brush.svg");
}

.why__title--robot {
  background-image: url("../assets/images/why-icon-robot.svg");
}

.why__description {
  font-family: var(--main-font-light);
}

/* ----- FOOTER ----- */

.why__footer {
  display: flex;
  align-items: center;
  background-color: var(--bright-color);
  color: var(--third-color);
  text-transform: uppercase;
  font-family: var(--main-font-regular);
  font-size: 0.7rem;
  margin-top: 3em;
}

.why__text {
  width: 32ch;
  padding: 0.5em 0;
}

.why__icon {
  margin: 0 1em;
}
