@import url("https://fonts.googleapis.com/css2?family=Hubballi&family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");

/*

Color Scheme:
    Blue: #12B3D8
    Orange: #FF860F
    Green: #B3F90E 
    Light Gray: #F5F5F5

Fonts:
    Headings:
        font-family: 'Montserrat', sans-serif;
    
    Paragraph:
        font-family: 'Hubballi', cursive;

*/

/* ====================================
        VARIABLES
======================================= */

/*  font-family: var(--main-font); 
    color: var(--dark-color); 
*/

:root {
  --main-font-thin: "axiformathin", sans-serif;
  --main-font-light: "axiformalight", sans-serif;
  --main-font-regular: "axiformaregular", sans-serif;
  --main-font-medium: "axiformamedium", sans-serif;
  --main-font-semibold: "axiformasemibold", sans-serif;
  --main-font-heavy: "axiformaheavy", sans-serif;

  --second-font: "Hubballi", cursive;

  --dark-color: #1c1c1c;
  --bright-color: #f6f6f6;
  --third-color: #ed1c24;
  --transparent: hsla(0, 0%, 0%, 0);
  --gradient: linear-gradient(180deg, #1c1c1c, #393939);
}

/* ====================================
          STARTERS
  ======================================= */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font-thin);
  font-size: 100%;
  background-color: var(--dark-color);
  color: white;
  line-height: 1.6;
}

img {
  max-width: 100%;
  height: auto;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

/* ====================================
            TYPOGRAPHY
    ======================================= */

h1,
h2,
button {
  text-transform: uppercase;
}

.title {
  margin-top: 5em;
  font-family: var(--main-font-regular);
  font-size: 1.5rem;
  text-transform: uppercase;
}

/* ====================================
            LAYOUT
    ======================================= */

/* --- GENERAL --- */

.section {
  width: 100%;
  background-color: var(--dark-color);
}

.container {
  max-width: 90em;
  margin: 0 auto;
}

/* --- INPUTS --- */

/* ====================================
            MEDIA QUERY
    ======================================= */

@media only screen and (min-width: 20em) {
}

@media only screen and (min-width: 48em) {
}

@media only screen and (min-width: 62em) {
}

@media only screen and (min-width: 75em) {
}
