/* @import url("https://fonts.googleapis.com/css2?family=Hubballi&family=Roboto:wght@100;400&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap"); */

/* ====================================
        VARIABLES
======================================= */

:root {
  --main-font-thin: "axiformathin", sans-serif;
  --main-font-light: "axiformalight", sans-serif;
  --main-font-regular: "axiformaregular", sans-serif;
  --main-font-medium: "axiformamedium", sans-serif;
  --main-font-semibold: "axiformasemibold", sans-serif;
  --main-font-heavy: "axiformaheavy", sans-serif;

  --second-font: "Hubballi", cursive;

  --dark-color: #1c1c1c;
  --bright-color: #ffffff;
  --third-color: #ed1c24;
  --transparent: hsla(0, 0%, 0%, 0);
  --gradient: linear-gradient(to right top, #1c1c1c, #3a3939, #5a5959, #7c7b7a, #9f9f9d);
  /* background-image: linear-gradient(to right top, #1c1c1c, #292a2b, #36393b, #43494a, #505959); */

  --dark-two-color: grey;
  --third-two-color: orange;
  --dark-three-color: indigo;
  --third-three-color: rgb(154, 154, 0);
}

/* ====================================
          STARTERS
  ======================================= */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font-thin);
  font-size: 100%;
  background-color: var(--dark-color);
  color: #ffffff;
  line-height: 1.6;
}

.section {
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

/* ====================================
            TYPOGRAPHY
    ======================================= */

h1,
h2,
button {
  text-transform: uppercase;
}

.main-title {
  margin-top: 5em;
  font-family: var(--main-font-regular);
  font-size: 1.5rem;
  text-transform: uppercase;
}

input,
textarea,
::placeholder {
  font-family: var(--main-font-light);
  font-size: 1rem;
  line-height: 1.5;
  padding-left: 1em;
}

input,
textarea {
  color: var(--dark-color);
}

::placeholder {
  color: rgb(191, 189, 189);
}


/* ====================================
            LAYOUT
======================================= */

/* --- GENERAL --- */

.section {
  width: 100%;
  background-color: var(--dark-color);
  overflow: hidden;
}

.container {
  max-width: 85em;
  margin: 0 auto;
}

.red {
  color: var(--third-color);
}


/* ====================================
            MEDIA QUERY
======================================= */

@media only screen and (width > 20em) {
}

@media only screen and (width > 48em) {
}

@media only screen and (width > 62em) {
}

@media only screen and (width > 75em) {
}
